<!--<button mat-menu-item><mat-icon>notifications_off</mat-icon><span>Disable alerts</span></button>-->
<button *ngFor="let feature of features" mat-menu-item routerLink="professional/{{feature.name}}" routerLinkActive="false" (click)="popUpRef.close();"><mat-icon>{{feature.icon}}</mat-icon><span>{{feature.title}}</span></button>
<button mat-menu-item (click)="cambiarPassword()"><mat-icon>lock</mat-icon> Cambiar Password</button>
<button mat-menu-item (click)="cerrarSesion()"><mat-icon>do_not_disturb_on</mat-icon> Cerrar sesión</button>
<mat-divider></mat-divider>
<div style="float: left; color: #cccccc;">v0.0.7</div>
<button mat-stroked-button (click)="onNoClick()" style="float:right" color="primary"><mat-icon>done</mat-icon><span>Cancelar</span></button>