<app-header title="Tratamientos" [backLink]="'/professional/det-patient/{{treatment.patient}}'" [event]="true" (rightEvent)="publicar()" [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Crear Tratamiento</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Tratamiento</mat-card-title>
        <mat-card-subtitle *ngIf="!id">Aquí podrás tratamiento un programa nuevo:</mat-card-subtitle>
        <mat-card-subtitle *ngIf="id">Aquí podrás actualizar un tratamiento:</mat-card-subtitle>
        <div *ngIf="!loading && treatment && program">
            <div class="inputImitation">
                <div>Nombre del programa:</div>
                <div>{{program.title}}</div>
            </div>
            <div class="inputImitation">
                <div>Detalle del programa:</div>
                <div>{{program.content}}</div>
            </div>
            <div class="inputImitation">
                <div>Objetivo:</div>
                <div>{{program.objective}}</div>
            </div>
            <div class="inputImitation">
                <div>Duración recomendada (En días):</div>
                <div>{{program.duration}}</div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Duración del Programa</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="treatment.startDate" placeholder="Start date">
                    <input matEndDate   [(ngModel)]="treatment.endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Notas del tratamiento:</mat-label>
                <textarea matInput [(ngModel)]="treatment.content" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br>
            <div *ngIf="treatment.interactions && treatment.interactions.length>0">
                <mat-card-subtitle style="margin:0%"><strong>Tareas Asociadas:</strong></mat-card-subtitle>
                <mat-card *ngFor="let interaction of treatment.interactions; let i = index;">
                    <div *ngFor="let interactionDetail of interactions;">
                        <div *ngIf="interactionDetail._id == interaction._id">
                            <img style="width:60px; height:60px;" *ngIf="interactionDetail.image" src="{{interactionDetail.image | image}}" />
                            <mat-card-title>{{interactionDetail.title}}</mat-card-title>
                            <div *ngIf="interaction.params.weekdays == []">
                                <mat-label>Días de la semana:</mat-label><br>
                                <mat-radio-group>
                                    <mat-checkbox style="margin-right: 10px;"
                                    [checked]='{arr:interaction.params.weekdays, day:day} | weekDays' *ngFor="let day of week"
                                    (click)="setDays(interaction.params, day)" value="{{interaction.params.weekdays}}">{{day}}</mat-checkbox>
                                </mat-radio-group>
                                <br>
                            </div>
                            <br>
                            <div class="inputImitation"  style="max-width: 400px !important;">
                                <div>Tipo de Tarea:</div>
                                <div>{{interaction.params.poll.type}}</div>
                            </div>
                            <div class="inputImitation"  style="max-width: 400px !important;">
                                <div>Iteracciones diarias:</div>
                                <div>{{interaction.params.iterations}}</div>
                            </div>
                            <div *ngIf="interaction.params.iterations==1" class="inputImitation"  style="max-width: 400px !important;">
                                <div>Hora de activación:</div>
                                <div>{{interaction.params.hour}}</div>
                            </div>
                            <div class="inputImitation"  style="width: calc(50% - 10px) !important; margin-right: 20px; float: left;">
                                <div>Día de inicio:</div>
                                <div>{{interaction.params.init}}</div>
                            </div>
                            <div class="inputImitation"  style="width: calc(50% - 20px) !important; float: left;">
                                <div>Duración:</div>
                                <div>{{interaction.params.long}}</div>
                            </div>
                            <mat-form-field *ngIf="interaction.params.poll.type=='slider'" appearance="outline" style="width: calc(33% - 10px) !important; margin-right: 20px; float: left;">
                                <mat-label>Repeticiones:</mat-label>
                                <input matInput type="number" min="1" [(ngModel)]="interaction.params.repetitions">
                            </mat-form-field>
                            <mat-form-field *ngIf="interaction.params.poll.type=='slider'" appearance="outline" style="width: calc(33% - 10px) !important; margin-right: 20px; float: left;">
                                <mat-label>Series:</mat-label>
                                <input matInput type="number" min="1" [(ngModel)]="interaction.params.series">
                            </mat-form-field>
                            <mat-form-field *ngIf="interaction.params.poll.type=='slider'" appearance="outline" style="width: calc(33% - 20px) !important; float: left;">
                                <mat-label>Descanso:</mat-label>
                                <input matInput type="number" min="0" [(ngModel)]="interaction.params.rest">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>Pregunta:</mat-label>
                                <input matInput [(ngModel)]="interaction.params.poll.question">
                            </mat-form-field>
                        </div>
                    </div>
                    <!--app-interaction [interaction]="interaction._id" [resizable]="true" origin="add-program"></app-interaction-->
                </mat-card>
            </div>
            <br>
            <div *ngIf="program.posts">
                <mat-card-subtitle style="margin:0%"><strong>Post Asociados:</strong></mat-card-subtitle>
                <div>
                    <div *ngFor="let post of program.posts">
                        <app-post [postId]="post._id" [resizable]="true"></app-post>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/det-patient/{{treatment.patient}}" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button *ngIf="!id" color="primary" (click)="publicar()">Crear Tratamiento</button>
        <button mat-raised-button *ngIf="id" color="primary" (click)="publicar()">Actualizar Tratamiento</button>
    </div>

</div>