<mat-card>
    <div *ngIf="treatment && program && !loading">
        <button mat-raised-button style="float: right;" color="primary" routerLink="/professional/upd-treatment/{{treatment._id}}" routerLinkActive="false">
            <mat-icon *ngIf="!compressed" style="margin-top:7px; font-size: 14px;">visibility</mat-icon> Ver Tratamiento
        </button>   
        <button *ngIf="removable" (click)="clickEvent()" class="compressedBtn" style="margin-top: 0px !important;margin-right:15px !important" color="primary">
            <mat-icon style="margin-top:7px; font-size: 14px;">remove</mat-icon>
        </button>
        <mat-card-title style="margin-bottom: 20px;">{{program.title}}</mat-card-title>
        <div class="inputImitation">
            <div>Contenido:</div>
            <div>{{program.content}}</div>
        </div>
        <div class="inputImitation">
            <div>Objetivo:</div>    
            <div>{{program.objective}}</div>
        </div>
        <div class="inputImitation">
            <div>Fecha</div>
            <div>{{treatment.datetime | fechaFormateada}}</div>
        </div>
        <app-interaction [interaction]="interaction._id" [resizable]="true" *ngFor="let interaction of program.interactions" origin="add-program"></app-interaction>
        <app-post [postId]="post._id" [resizable]="true" *ngFor="let post of program.posts"></app-post>
    </div>
</mat-card>
<br>