<mat-card>
    <div *ngIf="treatment && !loading">
        <mat-card-title style="margin-bottom: 20px;">{{treatment.title}}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 5px;"><strong>Contenido: </strong>{{treatment.content}}</mat-card-subtitle>
        <mat-card-subtitle style="margin-bottom: 5px;"><strong>Objetivo: </strong>{{treatment.objective}}</mat-card-subtitle>
        <app-post [post]="post" *ngFor="let post of treatment.posts" origin="add-program"></app-post>
    </div>
</mat-card>