<h1 mat-dialog-title>Cambio de password</h1>
<div mat-dialog-content>
  <form [formGroup]="angForm" novalidate>
    <p style="color:red;font-size:11px">* campos requeridos</p><br>
    <mat-form-field class="mat-form">
      <mat-label>Contraseña actual</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="passwordActual" formControlName="passwordActual" [(ngModel)]="passwordActual" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="passwordNueva" formControlName="passwordNueva" [(ngModel)]="passwordNueva" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button type="submit" color="primary" (click)="cambiarPassword()">Cambiar Password</button>
</div>