<app-header title="Visener" [backLink]="'/professional/asc-patients'"></app-header>
<div class="content" role="main">
    <mat-card id="htmlData">
        <div>
            <mat-card-title>Evaluación por segmento</mat-card-title>
            <hr>
            <br>
            <div id="titles">
                <div id="nombre">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Nombre del paciente
                    </mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Cristobal Acuña</mat-card-subtitle>
                </div>
                <div id="edad">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Edad</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">22</mat-card-subtitle>
                </div>
                <div id="diagnostico">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Diagnóstico</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Lesión de Muñeca Izquierda
                    </mat-card-subtitle>
                </div>
                <div id="prexistencia">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Ocupación</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Chofer
                    </mat-card-subtitle>
                </div>

            </div>
            <br>
            <br>
            <mat-divider></mat-divider>
            <mat-card style="background-color: #F5F5F5;border-left: 1px solid;
            border-top: 1px solid;
            border-right: 1px solid;border-color:#E0E0E0!important">
                <h3 style="color:#868685">Evaluación de </h3>
            </mat-card>
            <mat-card style="border-left: 1px solid;
            border-right: 1px solid;border-bottom:1px solid;border-radius: 0px;border-color:#E0E0E0!important">
                <div style="display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Profesión:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Diagnóstico:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Antecedentes:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Trofismo Muscular:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:40px"></div>
                <div style="display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Edema:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Cicatriz:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Sensibilidad:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Nivel de dolor:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:50px"></div>
                <div style="display: grid;grid-template-columns: 48% 48%;grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Movilidad Patelar:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Extensión Rodill TER:</div>
                        <div>ssssssssssssss</div>
                    </div>
                <div style="display: grid;
                    grid-template-columns: 60% 35% 102%;
                    grid-gap: 16px;">
                    <div class="inputImitationForms">
                        <div>Flexión Activa/Pasiva:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Rango art. F/E:</div>
                        <div>sss</div>
                    </div>
                    <div style="margin-left:10px" class="inputImitationForms">
                        <div>Elevación pierna extendida:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                </div>
                <div style="margin-top:20px"></div>
                <div style="display: grid;grid-template-columns: 48% 48%;grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Fuerza Muscular extensores:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Fuerza Muscular flexores:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:50px"></div>
                <div style="display: grid;grid-template-columns: 48%;grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Equilibrio unipodal:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:20px"></div>
                <div style="display: grid;grid-template-columns: 48% 48%;grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Patrón de marcha:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Diagnóstico Kinesiológico:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:20px"></div>
                <div style="display: grid;grid-template-columns: 48% 48%;grid-gap: 25px;">
                    <div class="inputImitationForms">
                        <div>Puntaje criterios de gravedad:</div>
                        <div>ssssssssssssss</div>
                    </div>
                    <div class="inputImitationForms">
                        <div>Riesgos y citaciones sugeridas:</div>
                        <div>ssssssssssssss</div>
                    </div>
                </div>
                <div style="margin-top:50px"></div>
                <div>
                   <mat-card-subtitle style="margin-left:30px">Evaluación Complementaria</mat-card-subtitle>
                   <div style="display: grid;grid-template-columns: 48% 48%;grid-gap: 25px;">
                    <mat-card style="border: 1px solid;border-radius:5px;border-color: #E0E0E0;">
                        <div style="margin-bottom:5px">
                         <mat-card-subtitle>LEFS</mat-card-subtitle>
                        </div>
                        <div>Puntaje Total de Funcionalidad EEII <button mat-raised-button class="mat-raised-button2">80%</button></div>
                    </mat-card>
                    <mat-card style="border: 1px solid;border-radius:5px;border-color: #E0E0E0;">
                        <div>SDRC:</div>
                        <div></div>
                    </mat-card>
                </div>
                </div>
    </mat-card>
    <div>
        <br>
        <br>
        <button  mat-stroked-button routerLink="/professional/user-view" routerLinkActive="false">Volver</button>&nbsp;&nbsp;&nbsp;
<button  mat-raised-button  >Copiar Registro evolutivo</button>&nbsp;&nbsp;&nbsp;
        <button  mat-raised-button  >Copiar categorizacion</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button style="float: right;
        background-color: transparent!important;
        border: 1px solid;" (click)="openPDF()">Exportar Informe PDF</button>
    </div>
</div>
</mat-card>
<br>
</div>