<app-header title="Programas" [rightLink]="'/professional/graphics'" [rightIcon]="'add'"></app-header>
<br>
<div style="overflow: scroll;height:100%">
    <div style="text-align: center;">
        <h1 style="text-align: center;"><strong>Gráficos</strong></h1>
        <iframe width="600" height="373.5"
            src="https://app.powerbi.com/view?r=eyJrIjoiYTExOTliODUtYjk2Yi00NjJhLWEwOTEtNzVmNDAzYWY5NDI3IiwidCI6ImZmODM5ODMyLTk3YWEtNDI3MC05ZmQ0LTU0MWI0YzhhZDFkMSJ9&pageName=ReportSection"
            frameborder="0" allowFullScreen="true"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMGU0NTdmZmUtNTAxZS00ZjY4LThhZjktYjQwMGY3MjRmMjIyIiwidCI6ImZmODM5ODMyLTk3YWEtNDI3MC05ZmQ0LTU0MWI0YzhhZDFkMSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true">
            </iframe>    
        <br>
    </div>
    <br>
    <br>
    <br>
    <div style="background-color: #ECF0F3;height: 50px;margin-top: -42px;position: relative;"></div>
   <!-- <br>
    <h1 style="text-align:center;margin:0%;"><strong>Cargar Archivos Masivos</strong></h1><br>
    <div style="text-align:center; margin:0%">
        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Subir Archivo"
            accept=".xlsx"><br><br>
        <button mat-raised-button type="button" class="btn btn-info" (click)="Upload()">Cargar</button>
    </div>
    <br><br><br><br><br><br> -->
</div>