.logo>img{
    width: 130px;
    margin-top: 10px;
  }

  .carita{
    width:32px; 
    margin: -4px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 700px) {
    .logo>img{
      width: 110px;
      margin-top: 10px;
    }
}

.spacer {
    flex: 1 1 auto;
  } 

.main2{
  overflow-y: scroll;
  height: calc(100% - 100px);
  padding: 7px 5px 5px 5px;
  margin-left: 25%;
  width: 100%;
  max-width: 560px;
}

@media (max-width: 600px) {
  .main2 {
    overflow-y: scroll;
    height: calc(100% - 100px);
    padding: 7px 5px 5px 5px;
    margin-left: 0%;
    width: 100%;
    max-width: 560px;
  }
}