<app-header title="Posts" [backLink]="'/administrator/posts'" [event]="true" (rightEvent)="publicar()"
    [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Ingresar Post</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Post</mat-card-title>
        <mat-card-subtitle>Información gráfica:</mat-card-subtitle>
        <button mat-stroked-button (click)="openAttachment()">
            <mat-icon>image</mat-icon> Elegir Archivos
        </button>
        <img *ngIf="post.image" style="margin-left: 10px; width: 60px; margin-bottom: -10px;" src="http://18.229.98.43:5984/visener/{{post.image}}/image" />
        <video *ngIf="post.video" style="margin-right: 5px; height:64px;"><source src="http://18.229.98.43:5984/visener/{{post.video}}/video"></video>
        <br><br>
        <mat-divider></mat-divider><br>
        <mat-card-subtitle>Información del post:</mat-card-subtitle>
        <mat-form-field>
            <mat-label>Ingrese un título:</mat-label>
            <input matInput placeholder="" [(ngModel)]="post.title">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Ingrese un subtitulo:</mat-label>
            <input matInput placeholder="" [(ngModel)]="post.subtitle">
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Ingrese el contenido:</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="post.content"></textarea>
        </mat-form-field>
        <mat-divider></mat-divider><br><br>
        <mat-card-subtitle>Encuesta</mat-card-subtitle>
        <mat-label>¿Desea agregar una encuesta?</mat-label><br>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="askPoll">
            <mat-radio-button [value]="true" (click)="inicializaEncuesta()">Si</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button [value]="false" (click)="eliminaEncuesta()">No</mat-radio-button>
        </mat-radio-group><br><br>
        <div *ngFor="let pregunta of post.poll;"
            style="border: 1px solid #cccccc; background-color: #fdfdfd; border-radius: 5px; padding: 10px; margin: 5px 10px;">
            <mat-card-subtitle><b>Pregunta {{pregunta.id}}</b></mat-card-subtitle>
            <mat-label>¿Qué tipo de pregunta quiere?</mat-label><br>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="pregunta.type">
                <!--<mat-radio-button value="text" (click)="changeTypeQuestion('text', pregunta)" style="margin-bottom: 0%">Texto libre</mat-radio-button>&nbsp;&nbsp;-->
                <mat-radio-button value="selection" (click)="changeTypeQuestion('selection', pregunta)"
                    style="margin-bottom: 0%">Selección única</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="multiple" (click)="changeTypeQuestion('multiple', pregunta)"
                    style="margin-bottom: 0%">Selección Multiple</mat-radio-button><br><br>
            </mat-radio-group>

            <div class="form-group row">
                <mat-form-field>
                    <mat-label>Ingrese la pregunta:</mat-label>
                    <input matInput placeholder="Ej: ¿Cómo te sientes hoy?" type="text" [(ngModel)]="pregunta.question">
                </mat-form-field>
                <div class="col-md-8"
                    *ngIf="(pregunta.type=='selection' || pregunta.type=='multiple') && pregunta.options">
                    <mat-label>Agregar Alternativa:</mat-label>
                    <div *ngFor="let option of pregunta.options">
                        <mat-card-subtitle><b>Opción {{option.id}}</b></mat-card-subtitle>
                        <input matInput class="form-control" placeholder="Ej: Claro que sí"
                            [(ngModel)]="option.description">
                    </div>
                    <button mat-raised-button color="primary" (click)="addAlternativa(pregunta)">
                        <mat-icon>add</mat-icon> Agregar alternativa
                    </button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <button *ngIf="post.poll && post.poll.length>0" mat-raised-button color="primary" (click)="addPregunta()">
            <mat-icon>add</mat-icon> Agregar pregunta
        </button>&nbsp;&nbsp;&nbsp;
        <br>
    </mat-card>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/administrator/posts" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button *ngIf="!id" mat-raised-button type="submit" color="primary" (click)="publicar()">Crear Post</button>
        <button *ngIf="id" mat-raised-button type="submit" color="primary" (click)="publicar()">Actualizar Post</button>
    </div>
</div>