<app-header title="Programas" [backLink]="'/professional/programs'" [event]="true" (rightEvent)="publicar()" [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Crear Programa</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Programa</mat-card-title>
        <mat-card-subtitle *ngIf="!id">Aquí podrás agregar un programa nuevo:</mat-card-subtitle>
        <mat-card-subtitle *ngIf="id">Aquí podrás actualizar un programa:</mat-card-subtitle>
        <div *ngIf="!loading">
            <mat-form-field appearance="outline">
                <mat-label>Nombre del Programa:</mat-label>
                <input matInput placeholder="" [(ngModel)]="program.title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Detalle del Programa:</mat-label>
                <textarea matInput [(ngModel)]="program.content" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Objetivo:</mat-label>
                <textarea matInput [(ngModel)]="program.objective" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Duración del Programa (En días)</mat-label>
                <input matInput type="number" min="1" [(ngModel)]="program.duration">
            </mat-form-field>
            <mat-divider></mat-divider>
            <button mat-stroked-button (click)="newPost()"><mat-icon>post_add</mat-icon> Asociar Post</button>
            <br>
            <div *ngIf="program.posts && program.posts.length>0">
                <mat-card-subtitle style="margin:0%"><strong>Post Asociados:</strong></mat-card-subtitle>
                <div cdkDropList (cdkDropListDropped)="drop2($event)">
                    <div cdkDrag *ngFor="let post of program.posts; let i = index;">
                        <app-post [postId]="post._id" [resizable]="true" [removable]="true" (event)="delPost(i)"></app-post>
                        <mat-form-field appearance="outline">
                            <mat-label>Día de inicio:</mat-label>
                            <input matInput type="number" min="1" [(ngModel)]="post.params.init">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Duración:</mat-label>
                            <input matInput type="number" min="1" [(ngModel)]="post.params.long">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-stroked-button (click)="newInteraction()"><mat-icon>task</mat-icon> Asociar Tarea</button>
            <br>
            <div *ngIf="program.interactions && program.interactions.length>0">
                <mat-card-subtitle style="margin:0%"><strong>Tareas Asociadas:</strong></mat-card-subtitle>
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                    <div cdkDrag *ngFor="let interaction of program.interactions; let i = index;">
                        <app-interaction [interaction]="interaction._id" [resizable]="true" [removable]="true" (event)="delInteraction(i)"></app-interaction>
                        <mat-form-field appearance="outline" style="max-width: 400px !important; float: left;">
                            <mat-label>Iteracciones diarias</mat-label>
                            <mat-select class="form-control" name="daytimes" [(ngModel)]="interaction.params.iterations">
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="4">4</mat-option>
                                <mat-option [value]="8">8</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="interaction.params.iterations==1" appearance="outline" style="max-width: 400px !important; float: left;">
                            <mat-label>Hora de aparición</mat-label>
                            <mat-select class="form-control" name="hour" [(ngModel)]="interaction.params.hour">
                                <mat-option [value]="8">8</mat-option>
                                <mat-option [value]="12">12</mat-option>
                                <mat-option [value]="16">16</mat-option>
                                <mat-option [value]="20">20</mat-option>
                            </mat-select>
                        </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Día de inicio:</mat-label>
                                <input matInput type="number" min="1" [(ngModel)]="interaction.params.init">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Duración:</mat-label>
                                <input matInput type="number" min="1" [(ngModel)]="interaction.params.long">
                            </mat-form-field>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/programs" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button *ngIf="!id" color="primary" (click)="publicar()">Crear Programa</button>
        <button mat-raised-button *ngIf="id" color="primary" (click)="publicar()">Actualizar Programa</button>
    </div>

</div>