<app-header title="Tratamientos" [backLink]="'/professional/asc-patients'" [event]="true" (rightEvent)="publicar()" [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Crear Tratamiento</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Tratamiento</mat-card-title>
        <mat-card-subtitle *ngIf="!id">Aquí podrás agregar un tratamiento nuevo:</mat-card-subtitle>
        <mat-card-subtitle *ngIf="id">Aquí podrás actualizar un tratamiento:</mat-card-subtitle>
        <div *ngIf="!loading">
            <div class="inputImitation" *ngIf="patient">
                <div>Nombre del Paciente:</div>
                <div>{{patient.name}}</div>
            </div>
            <button mat-stroked-button (click)="addProgram()" *ngIf="!treatment.program">
                <mat-icon>assignment</mat-icon> Elegir Programa a asociar
            </button>
            <button mat-stroked-button (click)="treatment.program=null" *ngIf="treatment.program">
                <mat-icon>remove_circle_outline</mat-icon> Borrar programa "{{program.title}}"
            </button>
            <div class="inputImitation" *ngIf="treatment.program">
                <div>Nombre del Tratamiento:</div>
                <div>{{program.title}}</div>
            </div>
            <div class="inputImitation" *ngIf="treatment.program">
                <div>Detalle del Programa:</div>
                <div>{{program.content}}</div>
            </div>
            <div class="inputImitation" *ngIf="treatment.program">
                <div>Objetivo:</div>
                <div>{{program.objective}}</div>
            </div>
            <mat-form-field appearance="fill" *ngIf="treatment.program">
                <mat-label>Duración del Programa</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="treatment.startDate" placeholder="Start date">
                    <input matEndDate   [(ngModel)]="treatment.endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div *ngIf="program.interactions && program.interactions.length>0">
                <mat-card-subtitle style="margin:0%"><strong>Tareas Asociadas:</strong></mat-card-subtitle>
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                    <div cdkDrag *ngFor="let interaction of program.interactions; let i = index;" style="width: calc(100% - 20px); border: 1px solid #cccccc; background-color: #fdfdfd; border-radius: 5px; padding: 10px; margin: 5px 10px;">
                        <app-interaction [interaction]="interaction._id" origin="add-program"></app-interaction>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/asc-patients" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button *ngIf="!id" color="primary" (click)="publicar()">Asociar Tratamiento</button>
        <button mat-raised-button *ngIf="id" color="primary" (click)="publicar()">Actualizar Tratamiento</button>
    </div>

</div>