<app-header title="Detalle de paciente" [backLink]="'/professional/asc-patients'"></app-header>
<div class="content" role="main">
    <mat-card>
        <div *ngIf="!loading" >
            <mat-card-title>{{patient.name}}</mat-card-title>
            <mat-card-subtitle style="margin-bottom: 0px;">{{patient.username}}</mat-card-subtitle>
            <br>
            <div class="inputImitation">
                <div>Empresa:</div>
                <div>{{patient.company}}</div>
            </div>
            <br>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Tareas">
                    <div *ngFor="let interaction of interactions">
                        {{interaction | json}}
                    </div>
                </mat-tab>
                <mat-tab label="Posts">
                    <div *ngFor="let post of posts" style="text-align: center; padding: 10px;">
                        <app-post style="margin-left: 10px;" [post]="post.value.doc.post" origin="add-treatment"></app-post>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <mat-divider></mat-divider><br>
        </div>
    </mat-card>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/asc-patients" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
    </div>
</div>