<h1 mat-dialog-title style="margin-bottom: 5px;">Seleccione un programa</h1>
<input type="text" [(ngModel)]="search" placeholder="Ingrese los tags para filtrar resultados" style="font-size: 14px; width: 100%; background-color: #fdfdfd; border: 1px solid #ccc; padding: 5px 10px; outline: none; border-radius: 15px; margin-bottom: 5px;" />
<div mat-dialog-content text-align-center >
    <div *ngFor="let program of programs">
      <div *ngIf="({program:program.value.title, search:search} | programFilter)" [className]="program.value._id==param.selection ? 'thumbnail selected' : 'thumbnail'" (click)="select(program)">
        {{program.value.title}}
      </div>
    </div>   
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="param" cdkFocusInitial>Seleccionar</button>
</div>