<mat-card *ngIf="program && program.value" [class.compressedPost]="compressed">
  <button class="compressedBtn" color="primary" (click)="compressed = !compressed">
      <mat-icon *ngIf="compressed" style="margin-top:7px; font-size: 14px;">expand_more</mat-icon>
      <mat-icon *ngIf="!compressed" style="margin-top:7px; font-size: 14px;">expand_less</mat-icon>
  </button>
  <button *ngIf="removable" (click)="clickEvent()" class="compressedBtn" color="primary">
      <mat-icon style="margin-top:7px; font-size: 14px;">remove</mat-icon>
  </button>
  <mat-card-title *ngIf="program.value.title">{{program.value.title}}</mat-card-title>
  <mat-card-subtitle *ngIf="program.value.objective">{{program.value.objective}}</mat-card-subtitle>
  <mat-card-content *ngIf="program.value.content">{{program.value.content}}</mat-card-content>
  <app-interaction [interaction]="interaction._id" [resizable]="true" *ngFor="let interaction of program.value.interactions" origin="add-program"></app-interaction>
  <app-post [postId]="post" [resizable]="true" *ngFor="let post of program.value.posts"></app-post>
  <br>
  <div style="text-align: center;">
      <button mat-raised-button color="primary" [mat-dialog-close]="program" (click)="selectProgram(program)">Seleccionar Programa</button>
  </div>
</mat-card>
