<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="popup()">
      <mat-icon>menu</mat-icon>
    </button>&nbsp;
    <span>Visener</span>
    <span>&nbsp;{{usuario}}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content" role="main">
  <div class="column">
    <mat-card class="treatments">
      <mat-card-title class="titleTareas">Mis tareas</mat-card-title>
      <div *ngFor="let treatment of treatments">
        <div id="interaction" *ngFor="let interaction of treatment.value.interactions">
          <div *ngIf="interaction.poll && interaction.poll.areOk && interaction.poll.type=='slider'">
            <mat-card-subtitle class="desktop">{{interaction.subtitle}}</mat-card-subtitle>
            <mat-card-content>
              <img style="width:60px; height:60px;" (click)="putPost(interaction)" *ngIf="interaction.image" src="{{interaction.image.selection | image}}" /><br class="desktop">
              <button mat-raised-button class="cellphone" color="primary" (click)="responseInteraction(interaction, treatment)"><mat-icon>send</mat-icon></button>
              <mat-card-subtitle class="cellphone">{{interaction.subtitle}}</mat-card-subtitle>
              <mat-card-subtitle style="margin-bottom: 1px;" *ngIf="interaction.poll && interaction.poll.type=='slider'" >{{interaction.poll.question}}</mat-card-subtitle>
              <mat-button-toggle-group [(ngModel)]="interaction.poll.sliderend">
                <mat-button-toggle value="good"><mat-icon>sentiment_satisfied</mat-icon></mat-button-toggle>
                <mat-button-toggle value="neutral"><mat-icon>sentiment_neutral</mat-icon></mat-button-toggle>
                <mat-button-toggle value="bad"><mat-icon>sentiment_dissatisfied</mat-icon></mat-button-toggle>
              </mat-button-toggle-group>
            </mat-card-content>
            <button mat-raised-button class="desktop" color="primary" (click)="responseInteraction(interaction, treatment)"><mat-icon>send</mat-icon> Enviar</button>
            <br class="desktop"><br>
          </div>
          <div *ngIf="interaction.poll && !interaction.poll.hide">
            <mat-card-subtitle class="desktop">{{interaction.subtitle}} ({{interaction.responses}}/{{interaction.series}})</mat-card-subtitle>
            <mat-card-content>
              <img style="width:60px; height:60px;" (click)="putPost(interaction)" *ngIf="interaction.image" src="{{interaction.image | image}}/" /><br class="desktop">
              <button mat-raised-button class="cellphone" color="primary" (click)="responseInteraction(interaction, treatment)"><mat-icon>send</mat-icon></button>
              <mat-card-subtitle class="cellphone">{{interaction.subtitle}} ({{interaction.responses}}/{{interaction.series}})</mat-card-subtitle>
              <div class="cellphone" *ngIf="interaction.poll && interaction.poll.type=='slider'">
                Series: {{interaction.series}}<br class="desktop">
                Repetición: {{interaction.repetitions}}<br class="desktop">
                Descanso: {{interaction.rest}}<br class="desktop"><br>
              </div>
              <div class="desktop">
                Series: {{interaction.series}}<br class="desktop">
                Repetición: {{interaction.repetitions}}<br class="desktop">
                Descanso: {{interaction.rest}}<br class="desktop"><br>
              </div>
              <mat-card-subtitle style="margin-bottom: 1px;" *ngIf="interaction.poll && interaction.poll.type!=='slider'" >{{interaction.poll.question}}</mat-card-subtitle>
              <mat-slider thumbLabel [(ngModel)]="interaction.poll.slider" *ngIf="interaction.poll && interaction.poll.type=='slider'" min="{{interaction.poll.min}}" max="{{interaction.repetitions}}" step="1" tickInterval="0" value="0"></mat-slider>
              <mat-button-toggle-group [(ngModel)]="interaction.poll.state" *ngIf="interaction.poll && interaction.poll.type=='state'">
                <mat-button-toggle value="good"><mat-icon>sentiment_satisfied</mat-icon></mat-button-toggle>
                <mat-button-toggle value="neutral"><mat-icon>sentiment_neutral</mat-icon></mat-button-toggle>
                <mat-button-toggle value="bad"><mat-icon>sentiment_dissatisfied</mat-icon></mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group [(ngModel)]="interaction.poll.yesno" *ngIf="interaction.poll && interaction.poll.type=='yesno'">
                <mat-button-toggle value="good"><mat-icon>thumb_up</mat-icon></mat-button-toggle>
                <mat-button-toggle value="neutral"><mat-icon>thumb_down</mat-icon></mat-button-toggle>
              </mat-button-toggle-group>
            </mat-card-content>
            <button class="desktop" mat-raised-button color="primary" (click)="responseInteraction(interaction, treatment)"><mat-icon>send</mat-icon> Enviar</button>
            <br><br>
          </div>
          <mat-divider class="desktop"></mat-divider><br class="desktop">
        </div>
      </div>
    </mat-card>
  </div>
  <div class="main">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>
</div>

<router-outlet></router-outlet>
<mat-menu #menu="matMenu"></mat-menu>