<div>
  <div>
      <input type="text" [(ngModel)]="search" placeholder="Ingrese las palabras a buscar..."
          style="font-size: 14px; width: 100%; background-color: #fdfdfd; border: 1px solid #ccc; padding: 5px 10px; outline: none; border-radius: 15px; margin-bottom: 5px;" />
      <br>
  </div>
  <div *ngFor="let program of programs">
      <app-dialog-program *ngIf="({program:program.value.title+program.value.subtitle+program.value.content, search:search} | programFilter)"
          [program]="program" [resizable]="true" [selectable]="true" [feedback]="false">
      </app-dialog-program> 
  </div>
</div>