<app-header title="Mis Pacientes" [event]="true" (rightEvent)="asociarPostMultiple()" [rightIcon]="'group_add'" [search]="true" (searchEvent)="buscar()"></app-header>
<div class="content" role="main">
    <input class="search" type="search" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
        <div>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre del Paciente</th>
                <td mat-cell *matCellDef="let patient">{{patient.name}}</td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef class="desktop">Correo Electrónico</th>
                <td mat-cell *matCellDef="let patient" class="desktop">{{patient.username}}</td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef class="desktop">Redes</th>
                <td mat-cell *matCellDef="let patient" class="desktop">Posts: {{patient.posts}} - Programas: {{patient.treatments}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="asociarPost(element)" [disabled]="element.state=='disabled'">
                        <mat-icon>post_add</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/professional/asc-program/{{element._id}}" routerLinkActive="false" [disabled]="element.state=='disabled'">
                        <mat-icon>assignment</mat-icon>
                    </button>
                    <button mat-icon-button (click)="verPaciente(element)" [disabled]="element.state=='disabled'">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.disabled]="element.state=='disabled'" class="example-element-row example-element-row-border"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8" style="width: 100%;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="noitems" *ngIf="!loading && patients.length == 0">Aún no tienes pacientes asignados.</div>
    <div class="desktopbuttons">
        <button mat-raised-button *ngIf="!loading && patients.length > 0" color="primary" (click)="asociarPostMultiple()">Asociar Post Masivo</button>
    </div>
</div>