<div>
    <p>Al dar de baja su perfil debe tener en consideración
        que será eliminada toda la información relacionada a
        su cuenta y no podrá tener acceso a ésta nuevamente.</p>
        <div>
            <p style="margin:0%">Ingresar Contraseña*</p>
            <input type="password" [(ngModel)]="confirmPassword">
        </div><br>
        <section class="example-section">
            <mat-checkbox (change)="confirm($event)" class="example-margin"><b>Deseo eliminar mi cuenta de todos modos</b></mat-checkbox><a style="color:red">*</a>
        </section>
      <br>
      <button mat-raised-button (click)="onNoClick()">Cancelar</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="delPatient()">Confirmar</button>
</div>