<app-header title="Visener" [backLink]="'/professional/asc-patients'"></app-header>
<div style="background-color: white; height: 580px; margin-top: 20px;" class="content mat-elevation-z4" role="main">
    <div id="tlt" style="width: 106%;
    height: 58px!important;
    padding: 2.5%!important;
    border-radius: 0px!important;
    margin-top: -20px!important;" class="mat-elevation-z4">
        <mat-card-title id="tltId" >Datos del paciente</mat-card-title>
    </div>
    <!-- <div id = "form1">

        <div id ="labelTlt">
            <mat-icon class = "icono">person</mat-icon>
            <mat-label>Datos personales </mat-label>
        </div>
        
        <div id ="campos"> 
            <div id = "seg1">
                <div id = "input1">
                    <mat-form-field id ="nombre"    appearance="outline">
                        <mat-label>Nombre Completo</mat-label>
                        <input  matInput placeholder="">
                    </mat-form-field>
                </div>
                <div id ="input2">
                    <mat-form-field id ="rut"   appearance="outline">
                        <mat-label>Rut del paciente</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                <div id ="input3">
                    <mat-form-field id ="edad"   appearance="outline">
                        <mat-label>Edad del paciente</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

            </div>

            <div id = "seg2">  
                <div id= "input4">
                    <mat-form-field id ="empresa"   appearance="outline">
                        <mat-label>Empresa</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

                <div id= "input5">
                    <mat-form-field id ="ocupacion"   appearance="outline">
                        <mat-label>Ocupación</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

                <div id= "input6">
                    <mat-form-field id ="comuna"   appearance="outline">
                        <mat-label>Comuna de residencia</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

                <div id= "input7">
                    <mat-form-field id ="region"   appearance="outline">
                        <mat-label>Región</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
 
            </div>
        </div>
        
    </div> -->

    <div style="float: left;position: absolute;margin-top: 58px;margin-left: -601px;">
        <mat-icon class="icono">person</mat-icon>
        <mat-label>Datos personales </mat-label>
    </div>
    <br>
    <br>
    <br>
    <div id="titles" style="margin-top: 20px;">
        <div id="nombre">
            <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Nombre del paciente</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Cristobal Acuña</mat-card-subtitle>
        </div>
        <div id="edad">
            <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Rut</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">14.588.320-5</mat-card-subtitle>
        </div>
        <div id="diagnostico">
            <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Edad</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">38</mat-card-subtitle>
        </div>
        <div id="prexistencia">
            <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Empresa</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Mutual</mat-card-subtitle>
        </div>
        <div id="prexistencia">
            <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Profesión u oficio</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Chofer</mat-card-subtitle>
        </div>
    </div>
    <br>
    <br>
    <div class="inputImitationForms">
        <div>Detalle de la ocupación:</div>
        <div style="font-size: 13px;">Chofer de ambulancia para trabajadores con movilidad reducida o completa.</div>
    </div>

    <div id="form2">

        <div id="labelTlt">
            <mat-icon class="icono">assignment</mat-icon>
            <mat-label>Diagnóstico</mat-label>
        </div>
        <div id="titles" style="margin-left: -11%;;margin-top: 20px;">
            <div id="prexistencia">
                <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Diagnóstico</mat-card-subtitle>
                <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Lesión de rodilla derecha</mat-card-subtitle>
            </div>
            <div id="prexistencia">
                <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Pre-existencias</mat-card-subtitle>
                <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Fractura tobillo derecho</mat-card-subtitle>
            </div>
        </div>
        <div class="inputImitationForms" style="margin-top: 40px;margin-left: 25px;width: 345px;">
            <div>Detalle de la ocupación:</div>
            <div style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <mat-form-field appearance="fill" style="margin-left: 54%;;
        margin-top: 40px;">
            <mat-label>Seleccionar Antecendente</mat-label>
            <mat-select>
            </mat-select>
          </mat-form-field>

        <!--  <div id = "campos2">

            <div id = "segmento1">
                <div id = "input8">
                    <mat-form-field id ="nombreMedico"   appearance="outline">
                        <mat-label>Nombre Médico</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

                <div id = "input9">
                    <mat-form-field id ="diagnosticoMedico"   appearance="outline">
                        <mat-label>Diagnóstico</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                <div id = "input10">
                    <mat-form-field id ="preexistencias"   appearance="outline">
                        <mat-label>Pre-existencias</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>

            </div>
            
            <div id ="segmento2">
                <div id ="input11">
                    <mat-form-field id ="sucursal"   appearance="outline">
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                
                <div id ="input12">
                    <mat-form-field id = "observaciones" appearance ="outline">
                        <textarea matInput placeholder="Observaciones"></textarea>
            
                    </mat-form-field>
                </div>

     
            </div>
            
        </div> -->
    </div>

</div>


<div class="desktopbuttons">
    <button mat-stroked-button routerLink="/professional/asc-kinesiologia">Cancelar</button>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button routerLink="/professional/asc-segmentos">Siguiente</button>&nbsp;&nbsp;&nbsp;
</div>
