<app-header title="Perfiles" [rightLink]="'/professional/add-role'" [rightIcon]="'add'"></app-header>
<div class="content" role="main">
    <table mat-table [dataSource]="roles" matSort multiTemplateDataRows class="mat-elevation-z8">
        <div>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let role">{{role.value.name}}</td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef class="desktop">Empresa</th>
                <td mat-cell *matCellDef="let role" class="desktop">{{role.value.company}}</td>
            </ng-container>
            <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef class="desktop">Fecha de creación</th>
                <td mat-cell *matCellDef="let role" class="desktop">{{role.value.datetime | fechaFormateada}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button routerLink="/professional/upd-role/{{element.value._id}}" routerLinkActive="false">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delRole(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row example-element-row-border"></tr>
    </table>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="noitems" *ngIf="!loading && roles.length == 0">No hay pacientes aún.</div>

    <div class="desktopbuttons">
        <button class="desktop buttontop" mat-raised-button type="submit" color="primary" routerLink="/professional/add-role" routerLinkActive="false">Añadir Perfil</button>
    </div>
</div>