<mat-card *ngIf="post && post.value" [class.compressedPost]="compressed">
    <button *ngIf="resizable" class="compressedBtn" color="primary" (click)="compressed = !compressed">
        <mat-icon *ngIf="compressed" style="margin-top:7px; font-size: 14px;">expand_more</mat-icon>
        <mat-icon *ngIf="!compressed" style="margin-top:7px; font-size: 14px;">expand_less</mat-icon>
    </button>
    <button *ngIf="removable" (click)="clickEvent()" class="compressedBtn" color="primary">
        <mat-icon style="margin-top:7px; font-size: 14px;">remove</mat-icon>
    </button>
    <button *ngIf="compressed && selectable" class="compressedBtn" color="primary" [mat-dialog-close]="post">
        <mat-icon *ngIf="compressed" style="margin-top:7px; font-size: 14px;">add</mat-icon>
    </button>
    <button *ngIf="compressed && multiple" class="compressedBtn" color="primary" (click)="selectPost(post)">
        <mat-icon *ngIf="compressed" style="margin-top:7px; font-size: 14px;">add</mat-icon>
    </button>
    <mat-card-subtitle *ngIf="datetime" style="float:right; color:#a0a0a0; font-size: 12px;">
        {{post.value.datetime | fechaFormateada}}
    </mat-card-subtitle>
    <mat-card-title [class.compressedPost]="compressed" *ngIf="post.value.title">{{post.value.title}}</mat-card-title>
    <div align="center" style="padding-bottom: 20px;" id="bot" *ngIf="mostrar && post.value.invitation">
        <button *ngIf="post.value.invitation" [disabled]="loading" mat-stroked-button style="margin-left: 10px; font-size: 14px;" (click)="rechazar(post)">
            Rechazar
        </button>
        <button *ngIf="post.value.invitation" [disabled]="loading" mat-raised-button
            style="margin-left: 10px; font-size: 14px;" (click)="aceptar(post)">
            Aceptar
        </button>
    </div>
    <mat-card-subtitle *ngIf="post.value.subtitle && !feedback">{{post.value.subtitle}}</mat-card-subtitle>
    <img mat-card-image *ngIf="post.value._attachments" src="{{post.value._id | image}}" />
    <img mat-card-image *ngIf="post.value.image && !compressed" src="{{post.value.image | image}}" />
    <video mat-card-image controls preload="auto" *ngIf="post.value.video && !compressed">
        <source src="{{post.value.video | video}}" />
    </video>
    <mat-card-content *ngIf="!compressed && post.value.content">{{post.value.content}}</mat-card-content>
    <div *ngIf="!compressed && post.value.poll">
        <div *ngFor="let question of post.value.poll">
            <mat-card-subtitle *ngIf="question.question">{{question.question}}
            </mat-card-subtitle>
            <input matInput *ngIf="question.type=='text'" type="text" [(ngModel)]="question.response"
                placeholder="Escriba su respuesta...">
            <mat-radio-group *ngIf="question.type=='selection'" [(ngModel)]="question.response">
                <mat-radio-button *ngFor="let option of question.options" [value]="option.description">
                    {{option.description}}</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group *ngIf="question.type=='multiple'" [(ngModel)]="question.response">
                <mat-checkbox *ngFor="let option of question.options" [value]="option.description">
                    {{option.description}}</mat-checkbox>
            </mat-radio-group>
        </div>
        <div style="text-align: center;" *ngIf="feedback">
            <button mat-raised-button (click)="responsePost(post)">
                <mat-icon>done</mat-icon> Responder encuesta
            </button>
        </div>
    </div>
    <br>
    <div *ngIf="feedback">
        <button *ngIf="post.liked=='true'" mat-raised-button style="font-size: 12px;
        border: 0px;
        box-shadow: none;
        background-color: transparent!important;
        margin-left: -8px;" color="primary" (click)="like(post)">
            <mat-icon style="margin-top: 1px;
            font-size: 24px;
            text-align: left;
            margin-left: -18px;color:#FDD62A">thumb_up</mat-icon><div class="likes" *ngIf="post.likes && post.likes == 1">{{post.likes}}</div><div class="likes" *ngIf="post.likes && post.likes > 1" style="margin-top: -36px!important;">{{post.likes}}</div>
        </button>
        <button *ngIf="post.liked=='false'" mat-stroked-button style="font-size: 12px;
        border: 0px;
        box-shadow: none;
        background-color: white;
        margin-left: -8px;" (click)="like(post)">
            <mat-icon style="margin-top: 1px;
            font-size: 24px;
            text-align: left;
            margin-left: -18px;">thumb_up</mat-icon><div class="likes" *ngIf="post.likes && post.likes == 1">{{post.likes}}</div><div class="likes" *ngIf="post.likes && post.likes > 1">{{post.likes}}</div> <div class="likes" *ngIf="!post.likes">0</div>
        </button>
        <button mat-stroked-button style="margin-left: -10px;
        font-size: 12px;
        text-align: left;
        border: 0px;
        box-shadow: none;
        background: transparent;" (click)="openComment(post)">
            <mat-icon style="margin-top: 3px;
            font-size: 24px;
            margin-left: -3px;">comment</mat-icon><div style="float: right;
    margin-top: -33px;
    margin-left: 29px;
    font-size: 17px;
    position: absolute;" *ngIf="!post.comments || post.comments.length == 0">0</div>
            <div class="comments" *ngIf="post.comments && post.comments.length == 1">{{post.comments.length}}</div>
            <div class="comments" *ngIf="post.comments && post.comments.length > 1">{{post.comments.length}}</div> 
        </button>
        <button *ngIf="post.favourite=='true'" mat-raised-button style="border:0px;color:#FF4081;background-color: transparent!important;float:right;margin-left: 10px; font-size: 12px;border:0px;" color="primary" (click)="saveFavourite(post)">
            <mat-icon style="margin-top:1px; font-size: 24px;color:#FF4081!important">favorite</mat-icon> 
        </button>
        <button *ngIf="post.favourite=='false'" mat-stroked-button style="border:0px;font-size: 12px;float:right" (click)="saveFavourite(post)">
            <mat-icon style="margin-top:-2px; font-size: 24px;color:#FF4081!important">favorite</mat-icon> 
        </button>
       <!-- <button  mat-stroked-button style="float:right;margin-left: 10px; font-size: 12px;" (click)="saveFavourite(post)" >
            <mat-icon style="margin-top:-2px; font-size: 24px;">favorite_border</mat-icon>
        </button>-->
      <!--  <div style="float: right;margin-top: -28px;margin-left: 206px;position: absolute;" *ngIf="!post.comments || post.comments.length == 0">Sin comentarios.</div>
        <div class="comments" *ngIf="post.comments && post.comments.length == 1">{{post.comments.length}} comentario. </div>
        <div class="comments" *ngIf="post.comments && post.comments.length > 1">{{post.comments.length}} comentarios.</div>
        <div class="likes" *ngIf="post.likes && post.likes == 1">{{post.likes}} like. </div>
        <div class="likes" *ngIf="post.likes && post.likes > 1">{{post.likes}} likes.</div>
        <div class="likes" *ngIf="!post.likes">0 likes.</div>-->
        <div *ngIf="post.comments && post.comments.length>0">
            <mat-divider></mat-divider>
            <div *ngFor="let comment of post.comments" class="comment" [matMenuTriggerFor]="menu">
                <mat-card-content style="margin-bottom: 0px;">
                    <span style="font-weight: 500;">{{comment.name}}: </span>{{comment.text}}
                </mat-card-content>
                <mat-menu #menu="matMenu" xPosition="before" yPosition="above"
                    style="width: 80px; height: 5px; min-width: none !important;">
                    <button mat-menu-item (click)="report(template, comment.id)">Reportar</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div *ngIf="selectable" style="text-align: center;">
        <button mat-raised-button color="primary" [mat-dialog-close]="post">Seleccionar Post</button>
    </div>
    <div *ngIf="multiple" style="text-align: center;">
        <button mat-raised-button color="primary" (click)="selectPost(post)">Seleccionar Post</button>
    </div>
</mat-card>
<ng-template #template>
    <mat-dialog-content>
        <label id="example-radio-group-label">Díganos porqué quiere reportar este comentario:</label><br><br>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="reporte">
          <mat-radio-button class="example-radio-button" *ngFor="let season of razones" [value]="season" (click)="notVisible()">
            {{season}}
          </mat-radio-button>
          <br>
          <mat-radio-button class="example-radio-button" [value]="otro" (click)="visible()">
            Otro
          </mat-radio-button>
        </mat-radio-group>
        <div id="otros" style="display: none;">
          <input style="margin-top: 10px;" matInput maxlength="30" placeholder="Escriba el motivo del reporte."
          [(ngModel)]="reporte" #input appearance="outline">
          <div align="end" style="margin-right: 20px;">
              <mat-hint>{{input.value?.length || 0}}/30</mat-hint>
          </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-stroked-button mat-dialog-close style="width: auto;" (click)="close()">
            Cancelar
        </button>
        <button mat-stroked-button (click)="sendReport()" mat-dialog-close style="width: 90px;" [disabled]="!check">
            Enviar
        </button>
    </mat-dialog-actions>
</ng-template>
