mat-card {
    width: 100%;
    /*max-width: 600px;*/
    margin-bottom: 20px;
    text-align: left;
}

mat-card-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

mat-card-subtitle {
    color: rgba(0, 0, 0, .87);
    font-size: 12px;
}

mat-card-content {
    font-size: 12px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: -10px 05px 15px 0px;
}

mat-radio-button {
    margin: 5px;
    font-size: 12px;
}

input {
    font-size: 14px;
    width: calc(100% - 20px);
    margin: -20px 0px 20px 0px;
    padding: 7px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    border-radius: 10px;
    outline: none;
}

video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

input:focus {
    border: 1px solid #3f51b5;
    box-shadow: 0px 0px 5px rgba(63, 81, 181, 0.3);
    background-color: #ffffff;
}

.comment{
    background-color: #efefef;
    margin: 3px;
    border-radius: 10px;
    display: table;
    padding: 2px 15px;
}

/*.likes{
    margin-top: -28px;
    position: absolute;
    margin-left: 31%;
}*/
/*.likes{
    margin-top: -34px;
    position: absolute;
    font-size: 15px;
    margin-left: 44%;
}*/
.likes{
    margin-top: -33px;
    position: absolute;
    font-size: 17px;
    margin-left: 25px;
}

/*.comments{
    float: right;
    margin-top: -29px;
    margin-left: 206px;
    position: absolute;
}*/
.comments{
    float: right;
    margin-top: -34px;
    margin-left: 26px;
    position: absolute;
    font-size: 17px;
}

/*@media (max-width: 600px) {
    .likes{
        margin-top: -28px;
        position: absolute;
        margin-left: 36%;
    }
    .comments{
        float: right;
        margin-top: -29px;
        margin-left: 196px;
        position: absolute;
    }
  }*/