<div>
    <div>
        <input type="text" [(ngModel)]="search" placeholder="Ingrese las palabras a buscar..."
            style="font-size: 14px; width: 100%; background-color: #fdfdfd; border: 1px solid #ccc; padding: 5px 10px; outline: none; border-radius: 15px; margin-bottom: 5px;" />
        <br>
    </div>
    <div *ngFor="let interaction of interactions">
        <app-dialog-interaction *ngIf="({interaction:interaction.value.title, search:search} | interactionFilter)"
            [interaction]="interaction" [resizable]="true" [selectable]="true" [feedback]="false">
        </app-dialog-interaction> <br>
    </div>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
  </div>
