<app-header title="Programas" [rightLink]="'/professional/add-treatment'" [rightIcon]="'add'"></app-header>
<div class="content" role="main">
    <table mat-table [dataSource]="treatments" matSort multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
            <td mat-cell *matCellDef="let row; let i = dataIndex;"
                (click)="expandedElement = expandedElement === treatment ? null : treatment">{{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="treatment">
            <th mat-header-cell *matHeaderCellDef>Programa</th>
            <td mat-cell *matCellDef="let treatment"
                (click)="expandedElement = expandedElement === treatment ? null : treatment">
                {{treatment.value.title}}
            </td>
        </ng-container>
        <ng-container matColumnDef="interactions">
            <th mat-header-cell *matHeaderCellDef class="desktop">Tareas</th>
            <td mat-cell *matCellDef="let treatment"
                (click)="expandedElement = expandedElement === treatment ? null : treatment" class="desktop">
                {{treatment.value.interactions.length}}</td>
        </ng-container>
        <ng-container matColumnDef="datetime" >
            <th mat-header-cell *matHeaderCellDef class="desktop">Fecha / Hora</th>
            <td mat-cell *matCellDef="let treatment"
                (click)="expandedElement = expandedElement === treatment ? null : treatment" class="desktop">
                {{treatment.value.datetime | fechaFormateada}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button routerLink="/professional/upd-treatment/{{element.id}}"
                    routerLinkActive="false">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delTreatment(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td style="width:90%" mat-cell *matCellDef="let treatment" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="treatment == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                        <strong>Nombre del programa:</strong> {{treatment.value.title}}<br>
                        <strong>Objetivo:</strong> {{treatment.value.objective}}<br>
                        <strong>Descripción:</strong> {{treatment.value.content}}<br>
                        <div *ngFor="let interaction of treatment.value.interactions">
                            <strong>Días de ejercicio:</strong> {{interaction.weekdays}}<br>
                        </div>
                        <strong>Tareas:</strong><br>
                        <mat-card style="width: 90%; border: 1px solid #aaaaaa; border-radius: 10px;"
                            *ngFor="let interaction of treatment.value.interactions">
                            <img style="float: right; width:60px; height:60px;" *ngIf="interaction.interaction"
                                src="{{interaction.image | image}}" /><br>
                            <strong>Título:</strong> {{interaction.title}}<br>
                            <strong>Nombre corto:</strong> {{interaction.title}}<br>
                            <div *ngIf="interaction.poll && interaction.poll.type=='slider'">
                            <strong>Repeticiones:</strong> {{interaction.repetitions}}, <strong>series:</strong>
                            {{interaction.series}}, <strong>descanso:</strong>
                            {{interaction.rest}}
                            </div>
                        </mat-card><br>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
    </table>
    <div style="width: 800px; padding-top:20px;" *ngIf="treatments.length == 0">No has asignado programas aún.</div>
    <div class="desktopbuttons" style="text-align:center">
        <button mat-raised-button type="submit" color="primary" routerLink="/professional/add-treatment"
            routerLinkActive="false">Añadir Programa</button>
    </div>
    <!--mat-paginator class="mat-elevation-z8" style="width: 800px;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator-->

</div>