<app-header title="Profesionales" [backLink]="'/administrator/professionals'" [event]="true" (rightEvent)="publicar()" [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Ingresar Profesional</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Profesional</mat-card-title>
        <mat-card-subtitle  *ngIf="!id" style="margin-bottom: 0px;">Aquí podrás agregar un profesional</mat-card-subtitle>
        <mat-card-subtitle  *ngIf="id" style="margin-bottom: 0px;">Aquí podrás actualizar el profesional</mat-card-subtitle>
        <br>
        <mat-divider></mat-divider><br>
        <form [formGroup]="angForm" novalidate>
            <p style="color:red;font-size:11px">*campos requeridos</p><br>

            
            <mat-form-field class="mat-form">
                <mat-label>Ingresar Nombre y Apellido</mat-label>
                <input matInput name="name" formControlName="name" placeholder="Pedro Pérez" [(ngModel)]="professional.name" required>
            </mat-form-field><br>
            <mat-form-field class="mat-form">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="username" placeholder="profesional@example.com" [(ngModel)]="professional.username" required>
            </mat-form-field><br>
            <mat-form-field class="mat-form">
                <mat-label>Especialidad</mat-label>
                <input matInput name="role" formControlName="role" [(ngModel)]="professional.role" required>
            </mat-form-field><br>
            <mat-form-field class="mat-form">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" [(ngModel)]="professional.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field><br>
            <mat-form-field class="mat-form">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" [(ngModel)]="passwordConfirm">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field><br>
        </form>
    </mat-card>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/administrator/professionals" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button *ngIf="!id" mat-raised-button type="submit" color="primary" (click)="publicar()">Crear Profesional</button>
        <button *ngIf="id" mat-raised-button  type="submit" color="primary" (click)="publicar()">Actualizar Profesional</button>
    </div>
</div>