<app-header title="Profesionales" [rightLink]="'/professional/add-professional'" [rightIcon]="'add'"></app-header>
<div class="content" role="main">
    <input class="search" type="search" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
        <div>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"
                    (click)="expElem = expElem === professional ? null : professional;">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre del Profesional</th>
                <td mat-cell *matCellDef="let professional" (click)="expElem = expElem === professional ? null : professional;">
                    <span *ngIf="professional.patients && professional.patients.length>0" matBadge="{{professional.patients.length}}" matBadgeOverlap="false" matBadgeColor="warn">
                        {{professional.name}}
                    </span>
                    <span *ngIf="!professional.patients || professional.patients.length==0">
                        {{professional.name}}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef class="desktop">Empresa</th>
                <td mat-cell *matCellDef="let professional"
                    (click)="expElem = expElem === professional ? null : professional;" class="desktop">
                    {{professional.company}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef class="desktop">Rol</th>
                <td mat-cell *matCellDef="let professional"
                    (click)="expElem = expElem === professional ? null : professional;" class="desktop">
                    <span *ngIf="professional.name">{{professional.role.name}}</span></td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="delProfessional(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="element.professional" mat-icon-button (click)="addRelation(element)">
                        <mat-icon title="Relacionar paciente">person_add_alt</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/professional/upd-professional/{{element._id}}" routerLinkActive="false">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
        </div>
        <ng-container matColumnDef="expandedDetail">
            <td style="width:90%" mat-cell *matCellDef="let professional" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="professional == expElem ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                        <table style="width: 100%;" *ngIf="professional.patients && professional.patients.length>0">
                            <th mat-header-cell>Nº</th>
                            <th mat-header-cell>Pacientes</th>
                            <th mat-header-cell>Acciones</th>
                            <tr *ngFor="let patient of professional.patients; let i = index;">
                                <td mat-cell>{{i+1}}</td>
                                <td mat-cell *ngIf="patient.doc">{{patient.doc.name}}</td>
                                <td mat-cell>
                                    <button mat-icon-button (click)="delRelation(professional, patient)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expElem === element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8" style="width: 100%;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="noitems" *ngIf="!loading && professionals.length == 0">No hay profesionales aún.</div>
    <div class="desktopbuttons">
        <button mat-raised-button type="submit" color="primary" routerLink="/professional/add-professional" routerLinkActive="false">Añadir Profesional</button>
    </div>
</div>