<div id = "content" role="main">

    <div id ="container" class="mat-elevation-z4">
        <div id = "items" >
            <mat-icon>person_search</mat-icon>
            <mat-label>Ingreso del paciente</mat-label>
            <mat-form-field id ="buscar"   appearance="outline">
                <mat-label>Ingrese N° de caso</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
            <button mat-raised-button routerLink="/professional/datos-paciente">Ingresar</button>&nbsp;&nbsp;&nbsp;


        </div>


    </div>



</div>
