<mat-menu #menu="matMenu"></mat-menu>
<router-outlet></router-outlet>
<span *ngIf="message">{{message}}</span>
<!--app-header *ngIf="grantAccess" title="Visener"></app-header-->
<div *ngIf="grantAccess" style="position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.3); width: 100%; height: 100%;">
    <br><br>
    <mat-card style="width: calc(100% - 20px); max-width: 600px; height: 80%; margin: auto;">
        <h1>Acuerdo de Servicio</h1>
        <div style="height: calc(100% - 145px); overflow: hidden; border: 1px solid #cccccc; padding: 10px;">
            <mat-tab-group style="height: 100%;">
                <mat-tab label="Términos y condiciones" class="mathead">
                    <div style="text-align: justify; padding-right: 10px;">
                        <br />
                        <p>El acceso y uso de este sitio se rige por los Términos y Condiciones junto con nuestra Política de
                            Privacidad descritos a continuación, así como por la legislación que se aplique en la República de
                            Chile. En consecuencia, todas las visitas que realice un usuario en este sitio, como asimismo sus
                            efectos jurídicos, quedarán regidos por estas reglas y sometidas a esa legislación.</p>
                        <p>Estos Términos y Condiciones forman parte de todas las actuaciones que se realicen entre los usuarios
                            de este sitio y Visener Relaciones Digitales SpA, Rut 77.401.903-0, a la cual se les denominará en
                            adelante “Visener”. Visener es el operador de una plataforma que proporciona acceso a interacciones
                            digitales con foco en áreas de bienestar y salud, entre otros y cualquier servicio relacionado. </p>
                        <p>Tenga en cuenta que la plataforma de Visener no realiza ningún diagnóstico médico. Por favor,
                            consulte a un profesional médico si le preocupa su salud. En caso de emergencia, debe contactar con
                            los servicios de emergencia inmediatamente. Consulte siempre a su médico o a otro profesional de la
                            salud calificado si tiene alguna pregunta sobre cualquier problema médico. Nunca debe hacer caso
                            omiso del consejo profesional de un médico o cancelar una cita con un médico porque se basa en
                            información que ha leído u oído en nuestra plataforma.</p>
                        <p>Estos Términos y Condiciones no alcanzan ni se refieren a las actuaciones, contratos, actos o
                            servicios que se celebren o realicen entre los usuarios de Visener y las diferentes sociedades
                            comerciales o institutos de previsión con quienes los usuarios contraten actos o servicios.</p>
        
                        <h2>A continuación se exponen dichas condiciones:</h2>
        
                        <ol>
                            <li>
                                <h3>Registro del usuario y clave secreta</h3>
                                <p>Será requisito necesario para el uso de esta plataforma: (i) la aceptación de estos Términos
                                    y Condiciones junto con nuestra Política de Privacidad, y (ii) el registro por parte del
                                    usuario, debiendo éste definir una clave de acceso. Se entenderán conocidos y aceptados
                                    estos Términos y Condiciones y la Política de Privacidad por el sólo hecho del registro, en
                                    el que se incluirá una manifestación expresa del usuario sobre el conocimiento de las
                                    presentes condiciones de uso y políticas. Cada vez que se realice una actualización del
                                    presente documento, el usuario o cliente deberá expresar nuevamente su aceptación.</p>
                                <p>El registro de cada usuario se verificará completando y suscribiendo el formulario que
                                    contienen la Plataforma y la App, su posterior envío, el cual se realiza automáticamente
                                    mediante un “click” en el elemento respectivo.</p>
                                <p>El registro es gratuito.</p>
                                <p>Una vez registrado, el usuario tendrá un RUT o correo y clave definitiva para acceder al
                                    sitio de manera personalizada, confidencial y segura. El usuario podrá cambiar la clave de
                                    acceso mediante el procedimiento establecido en la Plataforma. Además, asumirá totalmente la
                                    responsabilidad de mantener la confidencialidad de su clave secreta, la cual le permite
                                    solicitar servicios y obtener información. Dicha clave es de uso personal y su entrega a
                                    terceros no involucra la responsabilidad de Visener o sus empresas relacionadas, en caso de
                                    mala utilización.</p>
                                <p>El usuario puede solicitar a Visener la modificación de su información personal enviando un
                                    correo electrónico a contacto@visener.com, previa verificación de su identidad, pero en
                                    ningún caso se le requerirán sus claves personales.</p>
                            </li>
                            <li>
                                <h3>Información contenida en esta plataforma</h3>
                                <p>La información contenida en esta plataforma es de carácter general y educativa, y en ningún
                                    caso pretende reemplazar la guía de su médico o del profesional de la salud que corresponda.
                                    Si el usuario desea obtener un diagnóstico, pronóstico o tratamiento, debe siempre consultar
                                    a un médico o al profesional de la salud que corresponda. La información que el usuario
                                    obtenga acá no substituye de ninguna manera la relación con un profesional de la salud, ya
                                    que mediante la información que se entrega no se está practicando la medicina, ni se
                                    diagnostica, pronostica o aconseja un determinado tratamiento médico o el consumo de un
                                    medicamento determinado. Visener no sugiere la automedicación, por lo que le recomienda que
                                    visite a su médico o al profesional de la salud que corresponda, antes de tomar cualquiera
                                    de los medicamentos que se mencionan en este sitio web o cualquier medicamento en general.
                                </p>
                                <p>Visener procura que la información contenida en esta plataforma, y que es entregada por
                                    terceras partes bajo su propia responsabilidad, sea lo más completa, exacta y actualizada
                                    posible. Sin embargo, Visener no está en condiciones de verificar la exactitud, integridad o
                                    vigencia de toda la información ofrecida, por lo cual en ningún caso garantiza su exactitud,
                                    integridad o vigencia. Tampoco garantiza que los aspectos funcionales de esta plataforma se
                                    encuentren libres de error, o que la aplicación o el servidor que lo hace disponible al
                                    usuario se encuentren libres de virus o de cualquier otro componente de carácter dañino, ni
                                    garantiza que los archivos que se encuentren disponibles para descargar se encuentren libres
                                    de infección, virus u otras manifestaciones de códigos contaminados o propiedades
                                    destructivas. </p>
                            </li>
                            <li>
                                <h3>Derechos del usuario</h3>
                                <p>El usuario gozará de todos los derechos que le reconoce la Ley Nº19.628 sobre protección de
                                    la vida privada en el territorio de Chile, además de los que se le otorgan en estos términos
                                    y condiciones. El usuario dispondrá en todo momento de los derechos de información,
                                    rectificación y cancelación de los datos personales conforme a la misma legislación. La sola
                                    visita a este sitio no impone al usuario obligación alguna, a menos que haya aceptado en
                                    forma inequívoca las condiciones ofrecidas, en la forma indicada en estos Términos y
                                    Condiciones.</p>
                                <p>Los servicios de Visener están disponibles sólo para aquellos individuos que tengan capacidad
                                    legal para contratar, según lo dispuesto por la legislación vigente. Si una persona no tiene
                                    capacidad legal para contratar, debe abstenerse de utilizar los servicios ofrecidos en esta
                                    plataforma y Visener podrá, en cualquier momento, en forma temporal o definitiva, suspender
                                    la participación de usuarios que se compruebe carecen de capacidad legal para usar de los
                                    servicios ofrecidos en la Plataforma o cuando al registrarse brinden información que sea
                                    falsa, inexacta o fraudulenta.</p>
                            </li>
                            <li>
                                <h3>Uso de los datos personales registrados</h3>
                                <p>Cualquiera de sus datos personales generados por el uso de la Plataforma de Visener,
                                    eventualmente incluyendo sus datos sensibles sólo serán recolectados, almacenados y
                                    procesados por nosotros en cumplimiento de las disposiciones legales, en particular la Ley
                                    N°19.628. Por favor, lea nuestra Política de Privacidad para entender mejor cómo, y con qué
                                    propósitos, recogemos y utilizamos su información para proporcionarle el mejor servicio
                                    posible.</p>
                                <p>Los datos proporcionados en este sitio tanto en el registro como en el proceso de uso podrán
                                    ser utilizados para validar la información entregada por/del usuario, como para el legítimo
                                    interés de Visener de prestar servicios de relacionamiento digital entre el usuario y
                                    terceros con foco en áreas de bienestar y salud, incluyendo la posibilidad de ser contactado
                                    por Visener o por las instituciones que operan en esta misma plataforma. Este contacto podrá
                                    ser telefónico, mensaje de texto, correo electrónico o whatsapp. En ningún caso estos datos
                                    serán traspasados a terceros salvo para efectos relacionados con su objeto y bajo similares
                                    condiciones de seguridad y privacidad. Dicha entrega será revocable por el usuario.</p>
                                <p>Por la presente el usuario concede a Visener el derecho perpetuo, mundial, transferible y
                                    sublicenciable de utilizar los datos estadísticos, que hemos anonimizado de acuerdo con la
                                    ley de protección de datos aplicable, de cualquier manera, ya sea conocida o desconocida
                                    actualmente. Usted reconoce y acepta que somos propietarios de todos los derechos e
                                    intereses sobre cualquier dato derivado por nosotros de dichos datos estadísticos. </p>
                            </li>
                            <li>
                                <h3>Procedimiento para hacer uso de la Plataforma</h3>
                                <p>Una vez registrado en los términos indicados en la sección 1 de estos Términos y Condiciones,
                                    el Usuario tendrá acceso a una serie de herramientas digitales relacionadas con su bienestar
                                    laboral y de salud, en las condiciones específicas del tipo de registro, según sea
                                    establecido por su empleador o institución de salud. El usuario podrá a su vez compartir su
                                    imagen mediante audio o video. Por lo anterior, el usuario nos otorga una licencia no
                                    exclusiva, transferible, sublicenciable, libre de regalías e internacional para: alojar,
                                    usar, distribuir, modificar, ejecutar, copiar, exhibir o mostrar públicamente y traducir
                                    cualquier información, dato no sensible u otro contenido de su propiedad y proporcionados
                                    por usted o en su representación (incluido a través de tu app), así como para crear obras
                                    derivadas de estos, en relación con la plataforma para cualquier fin comercial relacionado
                                    con operar, proporcionar o mejorar la plataforma o cualquier otro producto de Visener. Esta
                                    licencia permanecerá en vigencia aun cuando deje de usar la plataforma, salvo las
                                    excepciones legales. Esta licencia a nosotros incluye, entre otros: el derecho a incorporar
                                    su contenido en otras partes de los productos de Visener; el derecho a atribuir la fuente de
                                    tu contenido usando su nombre, o imagen; el derecho a usar su contenido con fines
                                    promocionales; y el derecho a analizar su contenido (incluido para asegurar que cumpla con
                                    estas Condiciones y cualesquiera otras condiciones y políticas aplicables).</p>
                            </li>
                            <li>
                                <h3>Reglamento de buen uso</h3>
                                <p>Está prohibido:</p>
                                <ol type="a">
                                    <li>
                                        <p>Evadir, desactivar o manipular de cualquier manera cualquiera de las características
                                            de seguridad de la plataforma de Visener o cualquier característica que impida o
                                            restrinja el uso o la copia del contenido que está disponible a través de la
                                            plataforma,</p>
                                    </li>
                                    <li>
                                        <p>Crear varias cuentas de usuario,</p>
                                    </li>
                                    <li>
                                        <p>Proporcionar información falsa o engañosa en los detalles de la Cuenta de Usuario,
                                        </p>
                                    </li>
                                    <li>
                                        <p>Permitir que cualquier otra persona use la plataforma en su nombre o en su lugar,</p>
                                    </li>
                                    <li>
                                        <p>Utilizar la plataforma si hemos suspendido temporalmente su derecho de uso, o le
                                            hemos prohibido seguir utilizándola,</p>
                                    </li>
                                    <li>
                                        <p>Envía correo basura, spam o mensajes repetidos,</p>
                                    </li>
                                    <li>
                                        <p>Actuar de forma ilícita o ilegal,</p>
                                    </li>
                                    <li>
                                        <p>Modificar, interferir, hackear o interrumpir la plataforma, o interceptar mensajes,
                                        </p>
                                    </li>
                                    <li>
                                        <p>Hacer un mal uso de la plataforma o infiltrarse en ella con virus, troyanos, gusanos,
                                            bombas lógicas o cualquier otra cosa que pueda dañar la plataforma o cualquier otro
                                            usuario,</p>
                                    </li>
                                    <li>
                                        <p>Extraer datos de la plataforma, salvo lo permitido en estos Términos y Condiciones,
                                        </p>
                                    </li>
                                    <li>
                                        <p>Publicar o contribuir con cualquier contenido abusivo, amenazador, obsceno, engañoso,
                                            falso u ofensivo, o contenido que contenga cualquier forma de desnudez o violencia,
                                            e</p>
                                    </li>
                                    <li>
                                        <p>Introducir información o comentarios sobre cualquier tercero sin el consentimiento de
                                            éste.</p>
                                    </li>
                                </ol>
                                <p>El incumplimiento de este reglamento representa una violación material de estos Términos y
                                    Condiciones, y puede resultar en que Visener, a su arbitrio, imponga las siguientes medidas
                                    y sanciones, ya sea individualmente o en combinación:</p>
                                <ol type="i">
                                    <li>
                                        <p>La suspensión inmediata, temporal o la retirada permanente del derecho de acceso a la
                                            Plataforma,</p>
                                    </li>
                                    <li>
                                        <p>Interposición de procedimientos legales contra el usuario, incluyendo costos y
                                            honorarios legales razonables,</p>
                                    </li>
                                    <li>
                                        <p>Denuncia ante las autoridades encargadas de hacer cumplir la ley N°19.628, si y en la
                                            medida en que lo permita la ley y lo consideremos necesario, y/o </p>
                                    </li>
                                    <li>
                                        <p>Cualquier otra acción de acuerdo con estos Términos y Condiciones y/o la ley vigente.
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Derechos que otorga el uso de esta plataforma</h3>
                                <p>La Plataforma de Visener y todos los materiales y contenidos que incluye son de propiedad de
                                    Visener o de las personas, empresas o instituciones que han concedido la licencia
                                    correspondiente. El usuario recibe por tanto el derecho limitado, personal, revocable y no
                                    exclusivo de utilizar estos materiales y contenidos, pero sólo con el fin de utilizar la
                                    plataforma personalmente o en nombre de otra persona siempre de acuerdo con estos Términos y
                                    Condiciones. Si se utiliza para otra persona, el usuario registrado sigue siendo plenamente
                                    responsable de garantizar que el uso en nombre de esa persona está permitido bajo las normas
                                    sobre privacidad y otros requisitos legales aplicables. En particular, está obligado a
                                    recabar el consentimiento aplicable de esa persona e informarle sobre estos Términos y
                                    Condiciones y la Política de Privacidad.</p>
                                <p>El usuario no tiene derecho a utilizar el nombre “Visener Relaciones Digitales” o cualquier
                                    marca, logotipo, nombre de dominio u otra marca característica de cualquier tipo fuera del
                                    ámbito definido en estos Términos y Condiciones.</p>
                                <p>El usuario, salvo expresamente autorizado para ello, no podrá replicar o copiar, modificar,
                                    acceder al código fuente, vender o ceder la plataforma y materiales de Visener o terceros de
                                    este sitio, ya sea en su totalidad o en parte.</p>
                                <p>Visener resguarda y requiere la propiedad sobre el derecho a cualquier información
                                    confidencial, derechos de uso, de explotación y de recuperación – y cualquier otro derecho
                                    de propiedad intelectual total o parcialmente existente – en relación con la plataforma.</p>
                            </li>
                            <li>
                                <h3>Otros sitios o aplicaciones</h3>
                                <p>Si, y en la medida en que esta plataforma contiene enlaces a otros sitios web o recursos
                                    operados por terceros, estos enlaces se considerarán proporcionados sólo para fines de
                                    información, conocimiento o contacto del usuario.</p>
                                <p>Visener no es responsable del contenido de dichos sitios web o recursos proporcionados por
                                    terceros, ni es responsables del contenido de la información o de los sitios web enlazados
                                    incluidos en los marcos, de ser el caso.</p>
                            </li>
                            <li>
                                <h3>Término de la relación</h3>
                                <p>Si el usuario desactiva su Cuenta de Usuario como se describe en estos Términos y
                                    Condiciones, o Visener retira su derecho de acceso a la plataforma, se procederá a la
                                    eliminación de todos los Datos Personales almacenados sobre el usuario de acuerdo con
                                    nuestra Política de Privacidad (y según lo estipulado en las disposiciones legales
                                    aplicables), siempre y cuando no se vean afectados los derechos de Visener a utilizar dichos
                                    datos de forma anónima de acuerdo con la sección 4 anterior. También el usuario perderá
                                    todos los derechos que se le habían concedido anteriormente de acceder a la plataforma.</p>
                            </li>
                            <li>
                                <h3>Mejoras y comentarios</h3>
                                <p>Si el usuario proporciona ideas o sugerencias, o si responde a encuestas en relación con
                                    nuestros servicios, dichas ideas, sugerencias, críticas o comentarios no tendrán el carácter
                                    de confidencial entregándose a Visener una licencia mundial, no exclusiva, irrevocable,
                                    perpetua, libre de regalías e ilimitada para utilizar dichas ideas, comentarios o críticas
                                    de cualquier manera, para cualquier propósito, y a través de cualquier medio o tecnología
                                    ahora conocida o desconocida, ya sea en su totalidad o en parte, y ya sea modificada o no.
                                </p>
                            </li>
                            <li>
                                <h3>Representantes</h3>
                                <p>Toda presentación o reclamo relacionado con esta aplicación, debe ser presentada a:</p>
                                <p>Nombre Representantes: Bernardita Del Pilar Villaseca Wagemann y Felipe Daniel Gutiérrez
                                    López</p>
                                <p>Dirección: </p>
                                <p>Teléfono: </p>
                                <p>Correo electrónico: contacto@visener.com</p>
                            </li>
                            <li>
                                <h3>Delimitación de responsabilidad</h3>
                                <p>Visener Relaciones Digitales no es responsable del daño directo, indirecto, previsto o
                                    imprevisto, o cualquier otro, que el uso de esta plataforma, del material o de los servicios
                                    ofrecidos en este sitio provoquen al sistema de tratamiento de la información del usuario,
                                    al usuario o a terceros.</p>
                                <p>Toda la información contenida acá es proveída tal como se encuentra disponible, sin garantía
                                    de ninguna clase, ya sea tácita o expresa, incluido, pero no limitado, a las garantías
                                    implícitas de adecuación de un producto para un propósito particular. No se garantiza la
                                    exactitud, integridad, confiabilidad o vigencia del material, conexiones, o del resultado
                                    que se obtenga del uso de esta plataforma y de sus servicios. Visener Relaciones Digitales
                                    no será responsable por las decisiones o acciones que el usuario adopte basado en la
                                    confiabilidad de la información contenida en este Sitio.</p>
                            </li>
                            <li>
                                <h3>Jurisdicción</h3>
                                <p>Las controversias que surjan en relación con lo establecido en estos Términos y Condiciones
                                    serán de conocimiento y competencia de los tribunales ordinarios de justicia de la ciudad y
                                    comuna de Santiago.</p>
                            </li>
                        </ol>
                    </div>
                </mat-tab>
                <mat-tab label="Política de privacidad" class="mathead">
                    <div style="text-align: justify;">
                        <br />
                        <p>Los datos personales de los usuarios recibidos y almacenados por Visener, o que son ingresados por
                            ellos en www.visener.com (la “Plataforma” y/o la “Página web”), son confidenciales y serán usados
                            y/o tratados en conformidad a las disposiciones legales sobre el tema, especialmente lo dispuesto
                            por la Ley N°19.628 Sobre Protección de la Vida Privada. Al registrarse, entendemos que usted conoce
                            y acepta nuestros Términos y Condiciones, junto con esta Política de Privacidad.</p>
                        <p>La presente Política de Privacidad se aplica exclusivamente a la información entregada y recibida por
                            los visitantes y usuarios de la Plataforma y el Portal y no a aquella ofrecida a otras o por otras
                            empresas o instituciones o Sitios Web con los que la Plataforma contenga enlaces y sobre los que
                            Visener no tiene su control. Visener no se responsabiliza por el actuar de los sitios web a los
                            cuales se pueda acceder a través de www.visener.com.</p>
                        <p>Visener puede acceder, recopilar y tratar datos personales de los usuarios, incluyendo datos
                            sensibles, tales como nombre, domicilio, cédula de identidad, edad o fecha de nacimiento, sistema
                            previsional, correo electrónico y/o teléfonos, síntomas de enfermedades y sus posibles causas y
                            tratamientos, entre otros.</p>
                        <p>Lo anterior, puede implicar la recolección de los siguientes datos:</p>
                        <ul>
                            <li>
                                <p>Tipo de datos: Dirección IP del dispositivo solicitante, fecha y hora del acceso, nombre y
                                    URL del archivo solicitado, página web previamente visitada (“referrer de URL”), navegador
                                    usado y en caso necesario sistema operativo de su dispositivo, así como identidad del
                                    proveedor de servicios.</p>
                            </li>
                            <li>
                                <p>Finalidad del tratamiento: Los datos expuestos al efecto sirven para permitir acceder a
                                    nuestra página web, garantizar la buena conexión de internet a nuestro sitio web y fácil uso
                                    de la misma, analizar la seguridad y estabilidad del sistema y otros objetivos
                                    administrativos. No usamos sus datos para identificarlo. No tiene obligación de poner a
                                    nuestra disposición los datos indicados, si bien no podrá acceder a nuestra página web si no
                                    aporta sus datos personales.</p>
                            </li>
                            <li>
                                <p>Plazo del almacenamiento: Cuando no se producen incidencias relevantes para la seguridad (p.
                                    ej. un ataque DDoS) eliminamos sus datos una vez transcurridos 60 días. Si se produce dicho
                                    ataque, se almacenan los registros de acceso al servidor hasta que quede solucionada y
                                    aclarada la incidencia.</p>
                            </li>
                        </ul>
                        <p>A su vez, cuando el usuario se registra con una cuenta, podremos recolectar la siguiente información:
                        </p>
                        <ul>
                            <li>
                                <p>Tipos de datos: Dirección de correo electrónico y contraseña, cuenta ID, identificador del
                                    dispositivo, nombre del perfil, sexo, fecha de nacimiento, sistema de salud, datos generales
                                    sobre su salud, lugar, fecha y hora del registro.</p>
                            </li>
                            <li>
                                <p>Finalidad del tratamiento: Usamos los datos indicados para facilitarle una cuenta de usuario
                                    y el acceso a nuestros productos. Los datos generales sobre su estado de salud sirven para
                                    el análisis inicial. El acceso a nuestros servicios no es posible sin estos datos
                                    (necesarios). Al usar nuestros servicios a través de una web o aplicación, tenemos derecho a
                                    facilitar datos de usuario (excluyendo datos personales de salud) anonimizados al
                                    correspondiente servidor de la web.</p>
                            </li>
                            <li>
                                <p>Duración del almacenamiento: Trataremos sus datos con las finalidades indicadas, hasta que
                                    cancele su cuenta o pida su anulación. Si no usa su cuenta de usuario durante más de 12
                                    meses, la anularemos. </p>
                            </li>
                        </ul>
                        <p>Almacenaremos estos datos personales mientras haga falta o por el tiempo previsto legal o
                            administrativamente, aunque siempre de acuerdo con el principio de minimización de datos. Cuando sus
                            datos personales se requieren para más de una finalidad, los conservaremos hasta el término del
                            plazo más largo, si bien suspendemos su utilización al acabar el plazo más breve (según el principio
                            de asignación). Limitamos el acceso a sus datos personales a las personas que necesitan estos datos
                            para las finalidades correspondientes. Aquí se aplica siempre el principio de integridad y
                            confidencialidad.</p>
                        <p>Una vez deje de ser necesario procesar sus datos para las finalidades expresadas en o se haya borrado
                            su cuenta en nuestra aplicación, almacenaremos y conservaremos algunos de sus datos separados y
                            seguros, de acuerdo con los plazos legales y nuestras exigencias.</p>
                        <p>Al cesar la finalidad para el tratamiento de los datos personales, éstos se anonimizan
                            irrevocablemente (y se almacenan de esa forma) o se borran de forma segura.</p>
                        <p>Con estos datos personales, Visener podrá brindarles los servicios que ofrece a través de la
                            Plataforma. En ciertas secciones de la Plataforma, se pedirán datos personales a los usuarios con la
                            finalidad de facilitar el uso de las herramientas de la Plataforma, participación en charlas,
                            encuestas, envío de noticias y boletines, acciones de marketing, oferta de servicios, y/o con
                            relación a cualesquiera otras actividades, servicios o recursos que pueda ofrecer la Plataforma.</p>
                        <p>En definitiva, la información personal recibida y/o almacenada se emplea con la finalidad de entender
                            las necesidades e intereses de los usuarios y otorgarles un mejor servicio y experiencia.</p>
                        <p>Al ingresar a la Plataforma, Visener informará a los usuarios la presente Política de Privacidad,
                            para que puedan revisarla y avisarles asimismo el uso de “cookies” . En caso de actualizaciones o
                            modificaciones de la presente Política de Privacidad, Visener además podrá enviarle un correo
                            electrónico a la dirección que el usuario hubiere señalado con motivo del otorgamiento de
                            prestaciones anteriores o que ella tenga registrado</p>
                        <p>Adicionalmente, Visener obtiene información de carácter no personal de las personas que visitan la
                            Plataforma a través de las herramientas tecnológicas sobre datos de uso y data analytics. Esta
                            información no se refiere a datos específicos, identificados o identificables, sino a estadísticas
                            generales para uso interno. Con esta información, Visener ajusta la Plataforma de acuerdo con las
                            necesidades y requerimientos de los usuarios. Estos datos se recolectan a través de las “cookies”
                            del navegador que pueda utilizar el usuario.</p>
                        <p>Las cookies pueden mejorar la experiencia online de los visitantes, grabando preferencias mientras se
                            navega por un sitio web en particular. De este modo, se utiliza una cookie de sesión temporal para
                            la participación en ciertas promociones o concursos. Estas cookies temporales se cancelan cuando la
                            persona deja de usar su navegador. Asimismo, el navegador puede instalar otro tipo de cookies en el
                            computador. </p>
                        <h3>Entrega de información a terceros:</h3>
                        <p>En algunos casos, Visener comparte información con terceros para que ayuden a proporcionar y/o
                            mejorar sus servicios. En estos casos, Visener se asegura que estos terceros acuerden y se obliguen
                            a proteger los datos que reciben, no los divulguen y los restituyan en los casos que corresponda.
                            También Visener puede entregar a terceros, estadísticas combinadas sobre visitantes, patrones de
                            tráfico, e información relacionada a la Plataforma. Esta información refleja patrones de uso de la
                            Plataforma recopiladas durante las visitas, pero no contiene información que identifique
                            personalmente a un usuario. Asimismo, Visener restringe el acceso de sus colaboradores a los datos
                            personales de los usuarios solo en cuanto éstos sean necesarios para proveer los productos o
                            servicios que el usuario pueda requerir y para efectos de cumplir las labores propias de su trabajo.
                            Finalmente, Visener puede usar o divulgar información personal de sus usuarios, a) en procedimientos
                            judiciales previo requerimiento y/o dispuestos por Ley.; (b) en los demás casos que la normativa lo
                            autoriza.</p>
                        <h3>Sus derechos como usuario</h3>
                        <p>El usuario tiene varios derechos en relación con sus datos personales. Puede ejercitar sus derechos
                            escribiendo a través del formulario de contacto y señalando la opción “ejercicio de mis derechos de
                            privacidad”.</p>
                        <ul>
                            <li>
                                <p><b>El derecho de revocar el consentimiento: </b>Si el procesamiento de sus datos se debe a su
                                    consentimiento previo, tiene derecho a revocarlo en cualquier momento. El ejercicio de su
                                    derecho, sin embargo, no afecta la legalidad del procesamiento realizado antes de la
                                    revocación.</p>
                            </li>
                            <li>
                                <p><b>Derecho de oposición: </b>A continuación, detallamos estos derechos:</p>
                            </li>
                            <ul style="list-style-type:square">
                                <li>
                                    <p><b>Derecho a oponerse al procesamiento por intereses legítimos: </b>Como persona afectada
                                        puede oponerse por razón de su situación especial, en cualquier momento, al
                                        procesamiento de sus datos personales; esto también se aplica al perfilado derivado de
                                        estas normas.</p>
                                </li>
                                <li>
                                    <p><b>Derecho a oponerse al procesamiento a efectos estadísticos: </b>Cuando procesamos sus
                                        datos personales a efectos estadísticos, podrá oponerse por razón de su situación
                                        especial, en cualquier momento al mismo. En tal caso no procesaremos más sus datos
                                        personales a dichos efectos, a menos que sea obligatoriamente necesario o que el cese
                                        del procesamiento conlleve la probable imposibilidad o grave dificultad de cumplir las
                                        finalidades estadísticas, de forma que el procesamiento continuaría para cumplir dichas
                                        finalidades.</p>
                                </li>
                                <li>
                                    <p><b>Derecho a oponerse a recibir publicidad directa: </b>Si sus datos personales se
                                        procesan para llevar a cabo publicidad directa podrá oponerse en cualquier momento al
                                        procesamiento de sus datos personales a dichos efectos; esto también se aplica al
                                        perfilado relacionado con dicha publicidad directa. En tal caso no procesaremos más sus
                                        datos personales a dichos efectos. Para ejercitar el derecho de oposición
                                        correspondiente, conteste con un correo electrónico al correo de publicidad directa que
                                        recibe o contáctenos en cualquier momento.</p>
                                </li>
                            </ul>
                            <li>
                                <p><b>Derecho de acceso: </b>Como persona interesada tiene derecho a pedir confirmación de si
                                    los datos personales referidos a usted se procesan o no. En caso positivo tiene además
                                    derecho de acceso a dichos datos y a obtener información sobre las finalidades del
                                    procesamiento, las categorías de datos personales que se tratan, y los destinatarios o
                                    categorías de destinatarios, a quienes se han divulgado o divulgarán los datos.</p>
                            </li>
                            <li>
                                <p><b>Derecho de supresión (“Derecho al olvido”): </b>Como persona afectada tiene derecho de
                                    supresión (“Derecho al olvido”). Esto significa que tiene derecho a pedir que se supriman
                                    inmediatamente los datos personales que le afectan y que nosotros deberemos hacerlo. Podrá
                                    ejercitar este derecho en cualquier momento borrando su cuenta en la aplicación. Si hemos
                                    comunicado públicamente sus datos personales y estamos obligados a la supresión, adoptaremos
                                    - considerando la tecnología disponible y los gastos de implementación - medidas adecuadas,
                                    incluso técnicas, para informar a los responsables del procesamiento de sus datos personales
                                    de que ha pedido la cancelación de todos los enlaces a estos datos personales o de copias o
                                    réplicas de los mismos. El derecho de supresión (“Derecho al olvido”) no procede por
                                    excepción cuando el procesamiento es necesario por mandato legal, o cuando el procesamiento
                                    se requiere para interponer, seguir o defender acciones judiciales.</p>
                            </li>
                            <li>
                                <p><b>Derecho a limitar el procesamiento: </b>Como persona afectada tiene derecho a pedir que
                                    limitemos el procesamiento cuando se discuta la corrección de sus datos personales. En este
                                    caso se suspenderá el procesamiento hasta que podamos verificar la corrección de sus datos
                                    personales. “Limitar el procesamiento” significa marcar los datos personales almacenados con
                                    la finalidad de limitar el procesamiento futuro.</p>
                            </li>
                            <li>
                                <p><b>Derecho a portabilidad: </b>Como persona afectada tiene derecho a la portabilidad de sus
                                    datos personales. Esto quiere decir que tiene derecho a recibir los datos personales que nos
                                    ha facilitado en un formato informáticamente estructurado, corriente y legible y a
                                    remitirlos sin dificultad de nuestra parte a otro responsable, siempre que el procesamiento
                                    se base en su consentimiento o en un contrato y se realice por medios automáticos. Al
                                    ejercitar el derecho de portabilidad tiene además derecho a hacernos remitir directamente
                                    los datos personales a otro responsable, siempre que sea técnicamente posible.</p>
                            </li>
                            <li>
                                <p><b>Derecho de rectificación: </b>Como persona afectada tiene derecho de rectificación en las
                                    condiciones establecidas en la normativa vigente. En consecuencia, puede exigir la
                                    rectificación inmediata de los datos personales erróneos que le afectan y completar los
                                    datos incompletos.</p>
                            </li>
                            <li>
                                <p><b>Derecho de queja: </b>Como persona afectada tiene derecho de queja ante la autoridad de
                                    control en las condiciones establecidas en esta Política y sus Términos y Condiciones.</p>
                            </li>
                        </ul>
                        <p>Si nos pide suprimir sus datos personales o no seguir procesando los mismos, significará que no desea
                            seguir usando nuestros servicios o por lo menos, que no desea usar los servicios parciales que
                            requieren el procesamiento de esos datos cuya supresión solicita. A continuación, es posible que
                            deje de tener acceso a nuestros servicios.</p>
                        <h3><b>Cambios de la Declaración de Privacidad</b></h3>
                        <p>Todos los cambios futuros de esta Declaración de Privacidad que realicemos se publicarán en esta
                            página y comunicarán a usted por correo electrónico, en la aplicación o por otro sistema disponible.
                            Le recomendamos consultar regularmente esta página y mantenerse al corriente sobre nuestro
                            tratamiento de sus datos.</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <<div align="left" style="position: sticky; margin-top: 15px;">
            <mat-checkbox class="desktop" style="padding-bottom: 8px;" [(ngModel)]="terms">Estoy de acuerdo con
                los términos y condiciones de Visener.</mat-checkbox>
            <mat-checkbox class="desktop" [(ngModel)]="politics">He leído y acepto
                las políticas de privacidad de Visener.</mat-checkbox>
        </div>
        <div align="right">
            <button mat-button mat-dialog-close routerLink="/login">Cancelar</button>
            <button mat-button [mat-dialog-close]="true" (click)="aceptar()">Continuar</button>
        </div>
    </mat-card>
</div>