<app-header title="Visener" [backLink]="'/professional/asc-patients'"></app-header>
<div style="background-color: white; height: 580px; margin-top: 20px;" class="content mat-elevation-z4" role="main">
    <mat-card>
        <div>
            <mat-card-title>Evaluación del plan terapéutico</mat-card-title>
            <hr>
            <br>
            <div id="titles">
                <div id="nombre">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt" >Nombre del paciente
                    </mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Cristobal Acuña</mat-card-subtitle>
                </div>
                <div id="edad">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Edad</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">22</mat-card-subtitle>
                </div>
                <div id="diagnostico">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Diagnóstico</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Lesión de Muñeca Izquierda
                    </mat-card-subtitle>
                </div>
                <div id="prexistencia">
                    <mat-card-subtitle style="margin-bottom: 0px;" class="smallTlt">Ocupación</mat-card-subtitle>
                    <mat-card-subtitle style="margin-bottom: 0px;" class="Tlt">Chofer
                    </mat-card-subtitle>
                </div>

            </div>
            <br>
            <br>
        </div>
    </mat-card>
    <br><br>
    <img src="http://silvercorpsa.com/contruccion.jpg" style="width: 400px;">
</div>
<div class="desktopbuttons">
    <button  mat-stroked-button routerLink="/professional/user-view" routerLinkActive="false">Volver</button>&nbsp;&nbsp;&nbsp;
    <button  mat-raised-button routerLink="/professional/resume-forms">Siguiente</button>&nbsp;&nbsp;&nbsp;
</div>
