/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: brown;
  src: url('/assets/fonts/Brown-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: brown;
  src: url('/assets/fonts/Brown-Regular.otf');
  font-weight: 300;
}

@font-face {
  font-family: brown;
  src: url('/assets/fonts/Brown-Bold.otf');
  font-weight: 500;
}

.mat-toolbar.mat-primary{
  background-color: #FFFFFF !important;
  color: #616160;
}

.logo{
  color: #FFD628 !important;
  font-family: brown !important;
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 40px;
}

.mat-stroked-button{
  color: #616160 !important;
  font-family: brown !important;
  border-radius: 30px !important;
}

.mat-raised-button{
  background-color: #FFD628 !important;
  color: #616160 !important;
  border-radius: 30px !important;
  font-family: brown;
  font-weight: 500;
}

.mat-raised-button.mat-button-disabled{
  background-color: #e6d27d !important;
  color: #eeeeee !important;
  cursor: not-allowed !important;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background: #ecf0f3;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* LOGIN */

* {
  box-sizing: border-box;
}

mat-toolbar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

mat-form-field{
  width: 100% !important; 
  max-width: 400px;
}

.content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 64px);
  overflow: scroll;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding: 0;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #FCD307;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.mat-dialog-container {
  height: auto!important;
}


@media screen and (min-width: 701px) {
  .cellphone {
    display: none !important;
  }

  .desktopbuttons{
    margin-top: 25px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .desktop {
    display: none !important;
  }

  .desktopbuttons{
    display: none !important;
  }

  .mat-paginator-range-label {
    margin: 0 15px 0 24px !important;
  }
}

.cdk-overlay-pane{
  max-height: 90%;
}

.buttontop{
  margin-top: 25px !important;
}

app-patients, app-graphics, app-add-patient, app-professionals, app-add-professional, app-interactions, app-add-interaction, 
app-add-attachment, app-programs, app-add-post, app-add-program {
  width: 100%;
}

mat-divider{
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  position: relative !important
}

.mat-table{
  width: 100%;
}

.mat-card{
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  border-bottom: 1px solid #cccccc;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 10px 0 px 10px 0px;
  width: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}





/* ADD INTERACTION
  h3{
      margin:0px;
  }
  h4{
      margin:0px;
  }
  
  .input{
      margin: 0px;
      width: 363px;
      height: 61px;
  }
  
  .bigtextarea{
      width: 260px!important;
  }
  
  .mat-form-field-infix ng-tns-c86-21{
      border-top-width: 0px;
  }
  
  .smalltextarea{
      width: 150px!important;
  }
  
  .mat-form-field{
      width: 500px!important;
  }
  
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
      height: 116px!important
  }
  
  .mat-form-field-infix .ng-tns-c86-15{
      border-top-width: 0px;
  }
  
  .example-list {
      width: 500px;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: block;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }
  
    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-box:last-child {
      border: none;
    }
    
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

  .mat-tab-label{
    padding:0 63px;
  }

  .post{
    height:590px!important;
  }
  
*/

.mat-standard-chip{
  line-height: 12px;
  margin: 2px !important;
  min-height: 28px;
}

mat-spinner{
  margin-top: 20px;
}

mat-spinner, mat-spinner>svg {
  width: 30px !important;
  height: 30px !important;
}

.noitems{
  width: 100%;
  max-width: 800px; 
  padding-top:20px; 
  text-align: center;
}

.mat-paginator-page-size-select{
  width: 50px !important;
}

.inputImitation{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputImitation>div:first-child{
  position: inherit;
  color: #808080;
  font-size: 11px;
  background-color: #fff;
  margin-left: -6px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: -26px;
  width: max-content !important;
}

.inputImitation>div:last-child{
  margin-top: 5px;
}

.compressedPost{
  height: 60px !important;
  overflow-y: hidden;
  margin-top: 0px;
}

mat-card-title.compressedPost{
  font-size: 18px !important;
  font-weight: 600;
}

.compressedBtn{
  border-radius: 30px !important;
  border: 3px solid #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  float: right;
  margin-top: -12px !important;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.compressedBtn>mat-icon{
  margin-left: -4px;
  margin-top: 1px !important;
  font-size: 22px !important;
}

.disabled{
  text-decoration: line-through rgba(0,0,0,.26);
}
.disabled>td{
  color:rgba(0,0,0,.26) !important;
}

.search{
  padding: 5px 20px !important;
  background-color: white !important;
  width: calc(100% - 40px) !important;
  margin-bottom: 15px !important;
  border: 1px solid #ddd !important;
  border-radius: 30px !important;
  float: right !important;
}
<<<<<<< HEAD
=======

.objectiveContent{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
  width: 651px!important;
  height: 36px!important;
  background-color: white;
  border-color: white;
}

>>>>>>> 9f6c91a195dbd0d913f355b1792d7949678fd06d
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
