.compressedPost2{
    height: 70px !important;
    overflow-y: hidden;
    margin-top: 0px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #FFD628!important;
}

::ng-deep .mat-progress-bar {
    height:10px!important;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: #ECF0F3;
}

.grid-container {
    display: grid;
    grid-template-columns: 163px 170px;
    grid-gap: 100px;
    padding-bottom: 0px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 320px 154px;
    grid-gap: 5px;
    padding: 0px;
}

.compressedPost {
  height: 60px !important;
  overflow-y: initial!important;
  margin-top: 0px;
  width: 75%;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 125px 121px 100px;
    grid-gap: 55px;
    padding: 0px;
}
  
.grid-container > div {
    text-align: center;
    padding: 0px;
    font-size: 30px;
}

.contenido2{
    position: absolute;
    margin: 40px;
    margin-left: -19px;
    font-size: 17px;
}

@media (max-width: 600px) {
    .main1 {
      width: 66%!important;
    }
  }

  @media (max-width: 500px) {
    .compressedPost2 {
        height: 63px !important;
        overflow-y: hidden;
        margin-top: 0px;
    }
    .progress{
        position: absolute;
        margin-left: 218px;
        margin-top: -5px;
    }
    .grid-container3{
        display: grid;
        grid-template-columns: 119px 143px;
        grid-gap: 0px;
        padding: 0px;
    }
    .percent{
        position: absolute;
        margin: 40px;
        margin-left: 117px;
        margin-top: 172px;
        font-size: 17px;
    }

    .byday{
        position: absolute;
        margin-left: 0px!important;
        margin-top: 121px;
    }
    .byday2{
        position: absolute;
        margin-left: 0px;
        margin-top: 137px;
    }
    .roundprogress{
        margin-left: 80px!important;
        margin-top: 127px!important;
        width: 100px;
        height: 100px;
        position: relative!important;
    }
    .percent2{
        position: absolute;  
        margin: 187px!important;
        margin-left: 121px!important;
        font-size: 17px;
    }
    .roundprogress2{
        margin-left:87px;
        position: absolute;
        margin-top: -99px;
      }
      .percent4{
        position: absolute;
        margin: 187px!important;
        margin-left: 112px!important;
        font-size: 17px;
        margin-top: 186px!important;
      }
      .staticText{
        margin: 0px!important;
        width: 257px!important;
        height: 56px!important;
        border: 0px!important;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 200;
        resize: none;
        background-color: white;
      }
  }

  .percent{
    position:absolute;
    margin:40px;
    margin-left:126px;
    margin-top:4px;
    font-size:17px
  }

  .percent2{
    position:absolute;
    margin:40px;
    margin-left: 379px;
    font-size:17px
  }

  .percent3{
    position: absolute;
    margin: 40px;
    margin-left: 115px;
    margin-top: 4px;
    font-size: 17px;
  }

  .percent4{
    position: absolute;
    margin: 187px;
    margin-left: 374px;
    font-size: 17px;
    margin-top: 41px;
  }

  .byday{
    position:absolute;
    margin-left:236px
  }

  .roundprogress{
    margin-left: 339px;
    position: absolute;
    margin-top: -35px;
  }

  .roundprogress2{
    margin-left:87px;
    position: absolute;
    margin-top: -99px;
  }

  .roundprogress3{
    margin-left:340px;
    margin-top: 0px;
  }

  .staticText{
    margin: 0px!important;
    width: 475px;
    height: 56px;
    border: 0px!important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 200;
    resize: none;
    background-color: white;
  }


