.grid-container {
    display: grid;
    grid-template-columns: 163px 170px;
    grid-gap: 100px;
    padding: 0px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 0px;
    font-size: 30px;
  }

  /*::ng-deep .mat-calendar-body-cell::before, .mat-calendar-body-cell::after, .mat-calendar-body-cell-preview{
    content: "";
    position: absolute;
    top: 13%!important;
    left: -23px!important;
    z-index: 0;
    box-sizing: border-box;
    height: 42px !important;
    width: 100%;
  }*/

  ::ng-deep .mat-calendar-body-selected{
    background-color: white;
    color: black;
    border-color:yellowgreen
  }

  ::ng-deep .mat-calendar-body-cell-content{
    top: 5%;
    left: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 60%!important;
    height: 60%!important;
    font-size: 18px;
    line-height: 1;
    border-width: 3px!important;
    border-style: solid;
    border-radius: 999px;
  }

  ::ng-deep .mat-calendar-body-in-range::before {
    background: #ecf0f3;
    top: 13%!important;
    left: 39px!important;
    width: 57%!important;
    height: 42%!important;
    border-radius: 2px!important;
  }

  ::ng-deep .mat-calendar-body-in-range::after{
    height: 0%!important;
  }