<app-header title="Empresas" [backLink]="'/professional/companies'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Ingresar Empresa</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Empresa</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Información de la Empresa:</mat-card-subtitle>
        <input #fileInput type="file" [multiple]="false" class="upload__input" /><br><br>
     <!--  <button mat-raised-button (click)="addAttachment(fileInput.files)">Cargar Imágen</button><br><br>-->
        <img *ngIf="company._id" style="margin-top: 20px; width: 20%;" src="{{company._id | image}}" /><br>
        <mat-form-field appearance="outline">
            <mat-label>Nombre de Empresa:</mat-label>
            <input matInput placeholder="Mutual de Seguridad" [(ngModel)]="company.name">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>RUT:</mat-label>
            <input matInput placeholder="Sin puntos y con guión (11111111-1)" [(ngModel)]="company.rut" >
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Razón Social:</mat-label>
            <input matInput placeholder="" [(ngModel)]="company.razon">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Rubro:</mat-label>
            <input matInput placeholder="" [(ngModel)]="company.rubro">
        </mat-form-field><br>
        <mat-divider></mat-divider>
    </mat-card>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/companies" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button *ngIf="!id" mat-raised-button type="submit" color="primary" (click)="publicar(fileInput.files)">Crear Empresa</button>
        <button *ngIf="id" mat-raised-button type="submit" color="primary" (click)="publicar(fileInput.files)">Actualizar Empresa</button>
    </div>
</div>
