<app-header title="Tareas" [backLink]="'/professional/interactions'" [event]="true" (rightEvent)="publicar()" [rightText]="'Guardar'"></app-header>
<div class="content" role="main">
    <mat-card>
        <mat-card-title *ngIf="!id">Crear Tarea</mat-card-title>
        <mat-card-title *ngIf="id">Actualizar Tarea</mat-card-title>
        <mat-card-subtitle *ngIf="!id">Aquí podrás agregar una nueva tarea para tu paciente:</mat-card-subtitle>
        <mat-card-subtitle *ngIf="id">Aquí podrás actualizar una tarea para tu paciente:</mat-card-subtitle>
        <div>
            <button mat-stroked-button (click)="openAttachment()">
                <mat-icon>image</mat-icon> Elegir imagen para la tarea
            </button>
            <img *ngIf="interaction.image" style="margin-left: 10px; width: 60px; margin-bottom: -10px;" src="{{interaction.image | image}}" />
        </div><br>
        <mat-form-field appearance="outline">
            <mat-label>Título:</mat-label>
            <input matInput [(ngModel)]="interaction.title" placeholder="Título de la tarea">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Texto de despliegue:</mat-label>
            <input matInput [(ngModel)]="interaction.subtitle" placeholder="Texto que verá el paciente en sus tareas">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Descripción:</mat-label>
            <textarea matInput [(ngModel)]="interaction.content" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Diariamente</mat-label>
            <mat-select class="form-control" name="daytimes" [(ngModel)]="interaction.iterations">
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="8">8</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div *ngIf="interaction.poll.type=='slider' || interaction.poll.type=='slider2'">
            <div style="display: inline-block;">
                <mat-form-field appearance="outline" style="width: calc(33% - 10px) !important; margin-right: 20px; float: left;">
                    <mat-label>Repeticiones:</mat-label>
                    <input matInput type="number" min="1" [(ngModel)]="interaction.repetitions">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: calc(33% - 10px) !important; margin-right: 20px; float: left;">
                    <mat-label>Series:</mat-label>
                    <input matInput type="number" min="1" [(ngModel)]="interaction.series">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: calc(33% - 20px) !important; float: left;">
                    <mat-label>Descanso:</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="interaction.rest">
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-label>Días de la semana:</mat-label><br>
            <mat-radio-group>
                <mat-checkbox style="margin-right: 10px;" [checked]='{arr:interaction.weekdays, day:day} | weekDays'
                    *ngFor="let day of week" (click)="setDays(interaction, day)">{{day}}</mat-checkbox>
            </mat-radio-group>
        </div><br>
        <mat-tab-group mat-align-tabs="center" style="width: 100%;" animationDuration="0ms">
            <mat-tab label="Feedback">
                <br>
                <mat-form-field appearance="outline" *ngIf="interaction.poll.type=='slider'|| interaction.poll.type=='slider2'">
                    <mat-label>Pregunta:</mat-label>
                    <input matInput placeholder="Ej: ¿Cuánto dolor sentiste?" [(ngModel)]="interaction.poll.question">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de feedback:</mat-label>
                    <mat-select [(ngModel)]="interaction.poll.type">
                        <mat-option *ngFor="let feed of feedback" [value]="feed.id">{{feed.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="interaction.poll.type=='slider2'">
                    <mat-form-field class="example-margin" appearance="fill">
                        <mat-label>Valor mínimo</mat-label>
                        <input matInput type="number" [(ngModel)]="min">
                    </mat-form-field>
                    <mat-form-field class="example-margin" appearance="fill">
                        <mat-label>Valor máximo</mat-label>
                        <input matInput type="number" [(ngModel)]="max">
                    </mat-form-field>
                </div>
                <!--mat-form-field>
                    <mat-label>Relación</mat-label>
                    <mat-select [(ngModel)]="interaction.poll.relation">
                        <mat-option *ngFor="let relation of relations" [value]="relation.id">{{relation.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field-->
                <br>
            </mat-tab>
            <mat-tab label="Post">
                <br>
                <button mat-stroked-button (click)="openPost()" *ngIf="!interaction.post">
                    <mat-icon>image</mat-icon> Elegir Post para asociarlo a la tarea
                </button>
                <button mat-stroked-button (click)="interaction.post=null" *ngIf="interaction.post">
                    <mat-icon>remove_circle_outline</mat-icon> Borrar post "{{postName}}"
                </button>
                <app-post *ngIf="interaction.post" [post]="interaction.post" origin="add-program"></app-post>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <div class="desktopbuttons">
        <button mat-raised-button routerLink="/professional/interactions" routerLinkActive="false">Cancelar</button>&nbsp;&nbsp;&nbsp;
        <button *ngIf="!id" mat-raised-button color="primary" [disabled]="actionLoading" (click)="publicar()">Crear Tarea</button>
        <button *ngIf="id" mat-raised-button color="primary" [disabled]="actionLoading" (click)="publicar()">Actualizar Tarea</button>
    </div>
</div>