<app-header title="Tareas" [rightLink]="'/professional/add-interaction'" [rightIcon]="'add'"></app-header>
<div class="content" role="main">
    <input class="search" type="search" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
        <div>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"
                    (click)="expandedElement = expandedElement === interaction ? null : interaction;">{{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let interaction"
                    (click)="expandedElement = expandedElement === interaction ? null : interaction;">
                    <img *ngIf="interaction.image" style="margin-left: 0px; width: 30px; margin-bottom: 10px;"
                        src="{{interaction.image | image}}" /><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre de Tarea</th>
                <td mat-cell *matCellDef="let interaction"
                    (click)="expandedElement = expandedElement === interaction ? null : interaction;">
                    {{interaction.title}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let interaction" nowrap>
                    <button mat-icon-button routerLink="/professional/upd-interaction/{{interaction._id}}"
                        routerLinkActive="false">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delInteraction(interaction)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        </div>
        <ng-container matColumnDef="expandedDetail">
            <td id="tarea" style="width:90%" mat-cell *matCellDef="let interaction"
                [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="interaction == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description"><br>
                        <div>
                            <img *ngIf="interaction._attachments"
                                style="margin-left: 10px; width: 100px; margin-bottom: -10px;"
                                src="{{interaction._id | image}}" /><br><br>
                            <img *ngIf="interaction.image"
                                style="margin-left: 10px; width: 100px; margin-bottom: -10px;"
                                src="{{interaction.image | image}}/" /><br><br>
                        </div><br>
                        <mat-form-field>
                            <mat-label style="margin:0%">Texto de despliegue:</mat-label>
                            <input matInput readonly="readonly" value="{{interaction.subtitle}}">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Descripción:</mat-label>
                            <input matInput readonly="readonly" value="{{interaction.content}}">
                        </mat-form-field>
                        <br>
                        <div style="display: inline-block;">
                            <mat-form-field
                                style="width: calc(25% - 10px) !important; margin-right: 20px; float: left;">
                                <mat-label>Repeticiones:</mat-label>
                                <input matInput readonly="readonly" value="{{interaction.repetitions}}">
                            </mat-form-field>
                            <mat-form-field
                                style="width: calc(25% - 20px) !important; margin-right: 20px; float: left;">
                                <mat-label>Series:</mat-label>
                                <input matInput readonly="readonly" value="{{interaction.series}}">
                            </mat-form-field>
                            <mat-form-field
                                style="width: calc(25% - 15px) !important; margin-right: 20px; float: left;">
                                <mat-label>Descanso:</mat-label>
                                <input matInput readonly="readonly" value="{{interaction.rest}}">
                            </mat-form-field>
                            <mat-form-field style="width: calc(25% - 20px) !important; margin-top: 0px; float: left;">
                                <mat-label>{{interaction.iterations}}</mat-label>
                                <mat-select class="form-control" value="{{interaction.iterations}}">
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-label>Días de la semana:</mat-label><br>
                            <mat-radio-group>
                                {{interaction.weekdays}}
                            </mat-radio-group>
                        </div><br>
                        <mat-tab-group mat-align-tabs="center" style="width: 100%;" animationDuration="0ms">
                            <mat-tab label="Feedback">
                                <br>
                                <mat-form-field>
                                    <mat-label>Pregunta:</mat-label>
                                    <input matInput readonly="readonly">{{interaction.poll.question}}
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Tipo de feedback:</mat-label>
                                    <input matInput readonly="readonly"> {{interaction.poll.type}}
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Relación</mat-label>
                                    <input matInput readonly="readonly"> {{interaction.poll.relation}}
                                </mat-form-field>
                                <br>
                            </mat-tab>
                            <mat-tab label="Post">
                                <br>
                                <div [dataSource]="post">
                                    <div *ngFor="let posts of post">
                                        <div *ngIf="interaction.post==posts._id">
                                            <div>
                                                <img *ngIf="posts.image"
                                                    style="margin-left: 10px; width: 100px; margin-bottom: -10px;"
                                                    src="{{posts.image | image}}" /><br><br>
                                            </div><br>
                                            <mat-card-subtitle><strong>Titulo:</strong></mat-card-subtitle>
                                            <input matInput value="{{posts.title}}" readonly="readonly"><br><br>
                                            <mat-card-subtitle><strong>Subtitulo:</strong></mat-card-subtitle>
                                            <input matInput value="{{posts.subtitle}}"
                                                readonly="readonly"><br><br>
                                            <mat-card-subtitle><strong>Detalles:</strong></mat-card-subtitle>
                                            <input matInput value="{{posts.content}}" readonly="readonly"><br><br>
                                            <div *ngIf="posts.poll">
                                                <mat-card-subtitle><strong>Encuesta:</strong></mat-card-subtitle><br>
                                                <div *ngFor="let files of posts.poll">
                                                    <div *ngIf="files.type=='selection'">
                                                        <strong><input matInput readonly="readonly"
                                                                value="{{files.question}}"></strong>
                                                        <div *ngFor="let option of files.options">
                                                            <mat-radio-button>
                                                                <input matInput readonly="readonly"
                                                                    value="{{option.description}}">
                                                            </mat-radio-button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div *ngIf="files.type=='multiple'">
                                                        <strong><input matInput readonly="readonly"
                                                                value="{{files.question}}"></strong>
                                                        <div *ngFor="let option of files.options">
                                                            <mat-checkbox>
                                                            <input matInput readonly="readonly"
                                                                value=" {{option.description}}">
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                        <br>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8" style="width: 100%;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="noitems" *ngIf="!loading && interactions.length == 0">No hay tareas aún.</div>
    <div class="desktopbuttons">
        <button mat-raised-button type="submit" color="primary" routerLink="/professional/add-interaction"
            routerLinkActive="false">Añadir Tareas</button>
    </div>
    <!--mat-paginator class="mat-elevation-z8" style="width: 800px;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator-->
</div>