<mat-toolbar *ngIf="user.state=='enabled'" color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="popup()" style="margin-left: -20px; margin-right: -10px;">
      <mat-icon>menu</mat-icon>
    </button>&nbsp;
    <span class="logo">Visener<span style="font-weight: 100; font-size:20px; letter-spacing: 0px;">GRUPOS</span></span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/patient" routerLinkActive="false">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/patient/groups" routerLinkActive="false">
      <mat-icon style="color:#FFD628">group</mat-icon>
    </button>
    <span class="desktop">&nbsp;{{user.name}}</span>
    <button mat-icon-button (click)="popupConfiguration()" style="margin-left: 20px; margin-right: -5px;">
      <mat-icon>account_circle</mat-icon>
    </button>&nbsp;
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="user.state=='enabled'" class="content" role="main">
  <div class="column">
    <mat-card class="treatments">
      <mat-card-title class="titleTareas">Mis grupos</mat-card-title><br>
      <div *ngIf="loadingGroups" style="display: inline-block;">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="id">
        <button mat-icon-button routerLink="/patient/groups" routerLinkActive="false">Volver</button>
      </div>
      <div *ngIf="!id">
        <button mat-raised-button (click)="addGroup()">
          <mat-icon>add</mat-icon> Nuevo grupo
        </button>
        <br><br>
      </div>
      <div *ngIf="!id">
        <button mat-raised-button (click)="lstGroup()">
          <mat-icon>search</mat-icon> Buscar grupo
        </button>
        <br><br>
      </div>
      <div *ngIf="!loadingGroups && !id">
        <button mat-button *ngFor="let group of groups" routerLink="/patient/groups/{{group.value._id}}" routerLinkActive="false"
          style="margin-bottom: 10px; width: 100%;">
          <div style="text-align: left;">
            <mat-card-title class="desktop">{{group.value.title}}</mat-card-title>
            <mat-card-content>{{group.value.content}}</mat-card-content>
          </div>
        </button>
      </div>
    </mat-card>
  </div>
  <div class="main">
    <div *ngIf="id">
      <mat-card>
        <mat-card-title>Bienvenido a {{group.title}}</mat-card-title><br>
        <mat-card-content>{{group.content}}</mat-card-content>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-title>¿Qué quieres compartir?</mat-card-title><br>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Escribe un título</mat-label>
            <input matInput placeholder="" [(ngModel)]="postTitle">
          </mat-form-field><br>
          <button *ngIf="image" (click)="image=null" class="compressedBtn" color="primary" style="margin-right: 20px; z-index: 999; position: sticky; margin-bottom: -40px; margin-top: 10px !important;">
            <mat-icon style="margin-top:7px; font-size: 14px;">remove</mat-icon>
          </button>
          <img [src]="image" *ngIf="image" style="width: calc(100% - 20px);" /><br *ngIf="image">
          <mat-form-field appearance="outline">
            <mat-label>Escribe lo que piensas...</mat-label>
            <textarea matInput [(ngModel)]="postContent" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field><br>
          <input style="visibility: hidden; height: 0px; width: 0px;" #fileInput id="upload-input" type="file" [multiple]="false" accept="image/*" (change)="onFileChange($event)"/>
          <label for="upload-input" *ngIf="!image"><div style="color: #444444; border: 1px solid #dddddd; border-radius: 30px; padding: 8px 15px; font-family: brown; font-weight: 500; margin-top: 2px; margin-right: 10px; display: inline-flex; vertical-align: middle; cursor: pointer;"><mat-icon style="margin-top: -4px; margin-left: 5px; margin-right: 5px;">image</mat-icon> Agregar imagen</div></label>          
          <button mat-raised-button type="submit" [disabled]="!postContent || !postTitle" color="primary" (click)="publicar()">Publicar</button>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
    <app-post *ngFor="let post of posts" [post]="post" [feedback]="true" [datetime]="true"></app-post>
  </div>
</div>
<mat-menu #menu="matMenu"></mat-menu>