.formstyles{
    display: flex;
    flex-direction: column;
    width:50%;
    flex-wrap: wrap;
    height: 1155px;


}

:host ::ng-deep .mat-tab-label-active{
    border-color: #F6A127;
    color:#F6A127;
    border-style: solid;
    border-radius: 30px;
    
    
}

#nombre,#edad,#diagnostico,#prexistencia{
    display: flex;
    flex-direction: column;
    margin:auto;
}

#titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
    align-content:flex-start;
    width: 100%;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}


.smallTlt{
    color:#F6A127;
    font-size: 11px;
}

.Tlt{
    color:black;
    font-size: 14px;
    position: relative;
    top: 7px;
    
}

.tabs{
    color:white;
}

#containerEval{
    position: absolute;
    display: block;
    bottom: 1.5px;
    height: 120px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#labelEval{
    display: block;
    margin-right: auto;
    margin-left: 10px;
}

#checks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;

}

#btnGuardar{
    display:block;
    margin-left:auto;
    margin-right: 15px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #F6A127;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #F6A127;
}



mat-form-field{
    
    padding-right: 10px;
    transform: scale(0.98);
}






